<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml" lang="es">
  <head>
<script type="text/javascript">
  voc_se = 'local';
  voc_s1 = 'jaen';
  voc_s2 = '';
  voc_site = 'ideal';voc_tn = 'la-universidad-de-jaen-quinta-en-satisfaccion-de-estudiantes-internacionales';voc_tc = 'noticia';voc_ed = 'granada';voc_au = 'europa-press';voc_fep = '20130827154613';voc_fem = '20130827155425';voc_or = 'RL';voc_pr='1';
</script>
<title>La Universidad de Jaén, quinta en satisfacción de estudiantes internacionales. Ideal</title>
      <meta name="news_keywords" content=" universidad, jaen, quinta, satisfaccion, estudiantes, internacionales" />
    <meta name="keywords" content=" universidad, jaen, quinta, satisfaccion, estudiantes, internacionales" />
    <meta name="Description" content="Una encuesta de StudyPortals sitúa a la Universidad de Jaén (UJA) como la quinta mejor en España en términos de satisfacción de estudiantes internacionales, con base en un sondeo realizado a" />
      <link rel="canonical" href="http://www.ideal.es/jaen/20130827/local/jaen/universidad-jaen-quinta-satisfaccion-201308271545.html"/>
            <meta name="DC.date.issued" content="2013-08-27"/>
        <!-- Facebook -->

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="lang" content="es" />
<meta name="author" content="Ideal" />
<meta name="organization" content="Ideal" />
<meta name="locality" content="Jaen" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="refresh" content="900" />
<link rel="stylesheet" href="http://www.ideal.es/css/ppll.css" type="text/css" media="all" />


<!-- GIGYA -->
<script type="text/javascript" lang="javascript" src="http://cdn.gigya.com/JS/socialize.js?apikey=3_Cjw59Yc63GfOrOJcTGjX5tR2wJWdo5Tn5ONPGJ3z9kvQw9UtsQL1YdWpDMCQK7PS">
{ //See: http://developers.gigya.com/020_Client_API/010_Socialize/010_Objects/Conf_object
    autoLogin: true,
    signIDs: true,
    connectWithoutLoginBehavior: 'alwaysLogin',
    newUsersPendingRegistration: true,
    forceAuthentication: false,
    dateFormat: '%d/%M/%yyyy',
    lang: 'es'
}
</script>

<script type="text/javascript" lang="javascript">
    $(window).load(function() {
        var group = "ideal";
        var service = "pl_ideal_jaen";
        gigyaUX = new Vocento.Gigya(jQuery,group,service);
    });
</script>
<!-- FIN GIGYA -->


<!--[if IE]>
<link href="http://www.ideal.es/css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 7.]>
<script type="text/javascript" src="http://www.ideal.es/js/jquery.ifixpng.js"></script>
<![endif]-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4272508-36']);
  _gaq.push(['_setDomainName', 'ideal.es']);
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<script language="javascript">
 var portada_izquierda_uh_deportes=true; var portada_izquierda_uh_deportes_ajedrez=true; var portada_izquierda_uh_deportes_baloncesto=true; var portada_izquierda_uh_deportes_futbol_provincial=true; var portada_izquierda_uh_deportes_mas_deporte=true; var portada_izquierda_uh_deportes_mas_futbol=true; var portada_izquierda_uh_deportes_motor=true; var portada_derecha_ocio=true; var portada_derecha_uh_actualidad_cultura=true; var portada_derecha_uh_gente=true; var portada_derecha_uh_home=true; var noticia_izquierda_uh_deportes=true;
      var noticia_izquierda_uh_deportes_ajedrez=true;
      var noticia_izquierda_uh_deportes_baloncesto=true;
      var noticia_izquierda_uh_deportes_futbol_provincial=true;
      var noticia_izquierda_uh_deportes_hockey_hierba=true;
      var noticia_izquierda_uh_deportes_mas_deporte=true;
      var noticia_izquierda_uh_deportes_mas_futbol=true;
      var noticia_izquierda_uh_deportes_motor=true;
      var noticia_derecha_uh_deportes=true;
   var noticia_derecha_uh_economia=true;
   var noticia_derecha_uh_gente=true;
   var noticia_derecha_uh_local=true;
   var noticia_derecha_ocio=true;
   var noticia_derecha_uh_participa=true;
   var noticia_derecha_uh_actualidad_andalucia=true;
   var noticia_derecha_uh_actualidad_ciencia=true;
   var noticia_derecha_uh_actualidad_cultura=true;
   var noticia_derecha_uh_actualidad_espana=true;
   var noticia_derecha_uh_actualidad_internacional=true;
   var noticia_derecha_uh_actualidad_sociedad=true;
   var noticia_derecha_uh_actualidad_tecnologia=true;
   var noticia_derecha_uh_local_jaen=true;
   var noticia_derecha_uh_local_provincia=true;
  

OAS_listpos = 'megabanner,boton_superior,boton_inferior,cintillo_superior980x28,boton_loc_superior,recuerdo_corti_layer_nal,robapaginas,inters,skyscraper_izq,skyscraper_der,megabanner_inf,boton1_150x100,boton2_150x100,boton3_150x100,boton4_150x100,boton1_300x90,boton2_300x90,boton_local1,robapaginas_dos';

  OAS_sitepage = 'www.ideal.es/jaen/jaen';

document.write('');
objectPublishId='uh_local_jaen';
</script>

</head>
<body>

<div style="width:980px;margin:0 auto;padding:0;height:1px;_overflow:hidden;" id="orejas_chrome">
  <div id="publi1_Top9" style="z-index:200;width:120px;height:1px;top:0;left:-130px;position:relative;float:left;" class="izquierda">
    <script>
    var publiOrejaIzq = window['noticia_izquierda_'+objectPublishId];
      if (publiOrejaIzq!=undefined && publiOrejaIzq) { 
        publiMJX('skyscraper_izq',1); 
      }
    </script>

  </div>
  <div id="publi1_Top10" style="z-index:200;width:120px;height:1px;top:0;right:-130px;position:relative;float:right;" class="derecha">
    <script>
      var publiOrejaDer = window['noticia_derecha_'+objectPublishId];
      if (publiOrejaDer!=undefined && publiOrejaDer) {
          publiMJX('skyscraper_der',1);
      }
    </script>
  </div>
</div><div id="todoportal">
  
<!-- Methode filePath: "/ideal_2009/granada/noticias/201308/27/local/jaen/JAEN-uja-encuesta-estudiantes.xml"-->
<!-- Begin comScore Tag -->
<script type="text/javascript">
<!--
//VOC DAX v1.0
var ns_site=voc_site||"";
var voc_site=voc_site||"";
var voc_se=voc_se||"";
var voc_s1=voc_s1||"";
var voc_s2=voc_s2||"";
var voc_s3=voc_s3||""; 
var voc_s4=voc_s4||"";
var voc_tn=voc_tn||"";
var voc_tc=voc_tc||"";
var voc_ed=voc_ed||"";
var voc_au=voc_au||"";
var voc_or=voc_or||"";
var voc_pr=voc_pr||"";
var voc_fep=voc_fep||"";
var voc_fem=voc_fem||"";
var voc_ho=0;
var voc_name=(voc_se!=''?voc_se+'.':'')+(voc_s1!=''?voc_s1+'.':'')+(voc_s2!=''?voc_s2+'.':'')+(voc_s3!=''?voc_s3+'.':'')+(voc_s4!=''?voc_s4+'.':'')+voc_tn;
if (document.referrer==('http://'+document.domain+'/') || document.referrer==('http://'+document.domain+'/index.asp') || document.referrer==('http://'+document.domain+'/index.html')) voc_ho=1;
-->
</script>
<script type="text/javascript">
<!--
//DAX v1.1
var _comscore = _comscore || [];_comscore.push({
c1: "2",c2: "7715761",
ns_site: ns_site,
voc_site: voc_site,
name: voc_name,
voc_se: voc_se,
voc_s1: voc_s1,
voc_s2: voc_s2,
voc_s3: voc_s3,
voc_s4: voc_s4,
voc_tn: voc_tn,
voc_tc: voc_tc,
voc_ed: voc_ed,
voc_au: voc_au,
voc_or: voc_or,
voc_pr: voc_pr,
voc_fep: voc_fep,
voc_fem: voc_fem,
voc_ho: voc_ho
});
(function() {var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";el.parentNode.insertBefore(s, el);
  })();
-->
</script>
<noscript><img src="http://b.scorecardresearch.com/p?c1=2&c2=7715761&cv=2.0&cj=1" /></noscript>
<script language="JavaScript1.3" src="http://b.scorecardresearch.com/c2/7715761/cs.js"></script>
<!-- End comScore Tag -->

<!-- cXense script begin -->
<div id="cX-root" style="display:none"></div>
<script type="text/javascript">
  var cX = cX || {}; cX.callQueue = cX.callQueue || [];
  cX.callQueue.push(['setAccountId', '9222274890722429874']);
  cX.callQueue.push(['setSiteId', '9222275550092453903']);
  cX.callQueue.push(['sendPageViewEvent']);
</script>
<script type="text/javascript">
  (function() { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async';
  scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js';
  var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {};} ());
</script>
<!-- cXense script end -->
  <script>
var semDom= 'ideal.es';
</script>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime();
</script>
<!-- Politica de Cookies -->
<!-- INICIO LAYER COOKIES -->
<style>
.identity-noticebar{background: #c6ddf1;border-top: 1px solid #c6c6c6;margin-bottom: 10px;height:30px; width:1000px; margin:auto;}.identity-noticebar-content{border-top: 1px solid #c6ddf1;padding: 5px 10px;}.identity-noticebar-content span{font-size: 9px;color:#000;display:block;float:left}.identity-noticebar-content span a{font-size: 9px;;color:#000;text-decoration:underline}#cerrarnoticebar{display:block;float:right;font-size: 9px;color: #000;}
</style>
<div class="identity-noticebar col-12 edge" style="display:none" id="layer_cookie"><div class="identity-noticebar-content"><span class="notice">Este sitio web utiliza cookies propias y de terceros para optimizar tu navegación, adaptarse a tus preferencias y realizar labores analíticas. Al continuar navegando aceptas nuestra <a title="Si desea más información pinche aquí" href="http://www.vocento.com/politica-cookies/" target="_blank">Política de Cookies.</a></span><a title="cerrar" id="cerrarnoticebar" target="_blank" onclick="CookieLayerVisto();">X</a></div></div>
<script>
function getCookie_Layer(e){var t=document.cookie;var n=t.indexOf(" "+e+"=");if(n==-1){n=t.indexOf(e+"=")}if(n==-1){t=null}else{n=t.indexOf("=",n)+1;var r=t.indexOf(";",n);if(r==-1){r=t.length}t=unescape(t.substring(n,r))}return t}function setCookie_Layer(e,t,n){var r=new Date;r.setDate(r.getDate()+n);var i=escape(t)+(n==null?"":"; expires="+r.toUTCString());document.cookie=e+"="+i}function CookieLayerVisualizado(e){setCookie_Layer("cookie_layer",e,365)}function CookieLayerVisto(){setCookie_Layer("cookie_layer",2,365);document.getElementById("layer_cookie").style.display="none"}var CookieLayer=getCookie_Layer("cookie_layer");if(CookieLayer!=null&&CookieLayer!=""&&CookieLayer!="0"&&CookieLayer!="1"){document.getElementById("layer_cookie").style.display="none"}else{if(CookieLayer==null)CookieLayer=0;document.getElementById("layer_cookie").style.display="block";window.onscroll=function(e){CookieLayerVisualizado(parseInt(CookieLayer)+2)}}
</script>
<!-- FIN LAYER COOKIES -->

<div id="publicidades_top">
  <div id="publi1">
    <div id="publi1_Top1"><div class="publeft"><script language="JavaScript">publiMJX('megabanner',1);</script></div></div>
  </div>
  <div class="clear"></div>
</div>
<!-- CABECERA -->
<div class="cabecera"> <a href="http://www.ideal.es/jaen/" class="logotipo_portal">ideal.es</a>
  <ul class="lnks_clasificados">
    <li class="first"><a href="http://www.tusanuncios.com/portada/jaen/" target="_blank" title="Anuncios clasificados gratis en Jaén">Clasificados</a></li>
    <li><a href="http://11870.com/" target="_blank" title="11870">11870.com</a></li>
    <li><a href="http://www.pisos.com/viviendas/jaen/" target="_blank" title="Pisos en Jaén">Vivienda</a></li>
    <li><a href="http://www.infoempleo.com/trabajo/en_Jaen/" target="_blank" title="Empleo en Jaén">Empleo</a></li>
    <li><a href="http://www.autocasion.com" target="_blank" title="Coches en Jaén">Coches</a></li>
    <li><a href="http://www.mujerhoy.com" target="_blank" title="mujerhoy.com">mujerhoy.com</a></li>
  </ul>
  <div class="cab_ediciones_fecha">
    <div class="cef_cambio"> <span class="cef_titu">Edición: </span>
      <h3 class="cef_edicion">Jaén</h3>
      <div class="cef_cambiar"><a href="http://www.ideal.es/almeria/" class="cef_nocambiar_seleccion">Edición Almería</a><span class="cef_separa">|</span></div><span class="cef_separa">|</span>
      <span class="cef_perso_lst"><ul class="lstcab">
      </ul></span></div>
    </div>
    <div class="cef_fecha">Domingo, 15 diciembre 2013</div>
<div id="caja-comunidad" class="clearfix">
  <div class="wrap clearfix">
    <div class="gigya-login-bar">
        <div class="gigya-logged-out">
            <ul id="cc-bloque">
                <li id="cc-inicio-sesion">
                    <span class="label">Iniciar sesión con</span>
                    <a class="gigya-login-link" id="ccis-facebook" href="#">Facebook</a>
                    <a class="gigya-login-link" id="ccis-medio" href="#">ideal.es</a>
                </li>
                <li id="cc-registro">
                    <a class="gigya-registration-link href="#">Regístrate</a>
                </li>
            </ul>
        </div><!-- /gigya-logged-out -->
        <div class="gigya-logged-in" style="display:none;">
            <ul id="cc-sesion-enlaces">
                <li class="first">

                </li>
            </ul>
            <ul id="cc-bloque">
                <li id="cc-logeado-sesion">

                </li>
                <li id="cc-registro">

                </li>
            </ul>
        </div><!-- /gigya-logged-in -->
      </div><!-- /gigya-login-bar -->
  </div>
  </div>
</div>

<div id="gebruiker_shadow"></div>
<div id="mensenwat"></div>

<div class="menunav">
  <ul class="menunav">
    <li id="mi-uh-home" class="mn_item"><a href="http://www.ideal.es/jaen/" class="mn_item_a" title="Diario de Granada, noticias de la Región de Granada">Portada</a></li>
    <li id="mi-uh-local" class="mn_item"><a href="http://www.ideal.es/jaen/local" class="mn_item_a" title="Noticias de Almería">Local</a></li>
    <li id="mi-uh-deportes" class="mn_item"><a href="http://www.ideal.es/jaen/deportes" class="mn_item_a" title="Deportes">Deportes</a></li>
    <li id="mi-uh-economia" class="mn_item"><a href="http://www.ideal.es/jaen/economia" class="mn_item_a" title="Economía">Economía</a></li>
    <li id="mi-uh-actualidad" class="mn_item"><a href="http://www.ideal.es/jaen/mas-actualidad" class="mn_item_a" title="Más actualidad: otras noticias">Más Actualidad</a></li>
    <li id="mi-uh-gente" class="mn_item"><a href="http://www.ideal.es/jaen/gente" class="mn_item_a">Gente y TV</a></li>
    <li id="mi-ocio" class="mn_item"><a href="http://www.ideal.es/jaen/ocio" class="mn_item_a" title="Ocio en Granada">Ocio</a></li>
    <li id="mi-participa" class="mn_item"><a href="http://www.ideal.es/jaen/participa" class="mn_item_a" title="Participa: Foros, blogs y enviar noticias">Participa</a></li>
    <li id="mi-blogs" class="mn_item"><a href="http://www.jaenblogs.com/" class="mn_item_a">Blogs</a></li>
    <li id="mi-servicios" class="mn_item"><span class="mn_item_a"><span>Servicios</span></span> 
      





















 
    </li>
    <li id="mi-hemeroteca" class="mn_item"><a href="http://www.ideal.es/hemeroteca/noticias/?edition=jaen" class="mn_item_a" title="Hemeroteca">Hemeroteca</a></li>
  </ul>
  <div id="acceso-webtv"><a href="http://www.idealtv.es/"><span>idealtv.es</span></a></div>
</div>

    





















  
  <ul class="submenunav">
    
      
        
          
                
        <li class="li" id="submi-uh-local-alcala-real" xml:lang="es">
<a class="a" href="http://alcalalareal.ideal.es" target="_blank"><span class="span">Alcalá Real</span></a>
</li>
 
      
    
        
          
                
        <li class="li" id="submi-uh-local-andujar" xml:lang="es">
<a class="a" href="http://andujar.ideal.es"><span class="span">Andújar</span></a>
</li>
 
      
    
        
          
                
        <li class="li" id="submi-uh-local-jaen" xml:lang="es">
<a class="a" href="/jaen/local/jaen/" title=""><span class="span">Jaén</span></a>
</li>
 
      
    
        
          
                
        <li class="li" id="submi-uh-local-linares" xml:lang="es">
<a class="a" href="/jaen/local/linares/" title=""><span class="span">Linares</span></a>
</li>
 
      
    
        
          
                
        <li class="li" id="submi-uh-local-provincia" xml:lang="es">
<a class="a" href="/jaen/local/provincia/" title=""><span class="span">Provincia</span></a>
</li>
 
      
    
        
          
                
        <li class="li" id="submi-uh-local-ubeda-baeza" xml:lang="es">
<a class="a" href="http://ubeda.ideal.es"><span class="span">Úbeda</span></a>
</li>
 
      
    
        
          
                
        <li class="li" id="submi-uh-local-andujar" xml:lang="es">
<a class="a" href="http://cazorla.ideal.es"><span class="span">Cazorla</span></a>
</li>
 
      
    
  
  
  
      
        
        
                  
        <li class="li" id="submi-uh-local-andujar" xml:lang="es">
<a class="a" href="http://baeza.ideal.es/"><span class="span">Baeza</span></a>
</li>
 
      
    
        
        
                  
        <li class="li" id="submi-uh-actualidad-cultura">
<a class="a" href="http://www.ideal.es/feriajaen"><span class="span" id="U3062600557852v5H" style="font-weight:bold;font-style:normal;color:#ad0100;">Feria Jaén</span></a>
</li>
 
      
    
    
  
  </ul>

      <script language="JavaScript">
<!--
  if (('' !=null && '2013' !=null) && ('' !='' && '2013' !='')){
    if (''==('elecciones-usa')) {
      objMenu = $('#mi-uh-actualidad');
      objMenu.addClass('activo');
    } else if (''==('autonomos')) {
      objMenu = $('#mi-uh-economia');
      objMenu.addClass('activo');
    } else {
    objMenu = $('#mi-uh-home');
    objMenu.addClass('activo');
    }
  }
  else if((objMenu = $('#mi-uh-local')).length > 0)
     objMenu.addClass('activo');
  if((objSubmenu = $('#submi-uh-local-jaen')).length > 0)
    objSubmenu.addClass('activo');
//-->
</script><div class="includes_cabecera">
    <script language="javascript">
<!-- funciones para el buscador -->
  <!--
    function busqueda() {
        var palabra_enviar = window.document.form_buscador_cabecera.qAND.value ;
        if(window.document.form_buscador_cabecera.qAND.value.length == 0) {
          alert("Debes seleccionar palabra de búsqueda.");
          return false;
        } 
        window.location = '/hemeroteca/noticias/'+ palabra_enviar + '.html';
        return true;  
      
      
      
    }
    function texto_pordefecto(id_elemento){
    if(id_elemento.value=='') {id_elemento.value='';} 
  }


  //-->
<!-- fin funciones buscador -->
</script>
<form name="form_buscador_cabecera" method="get" action="" class="cab_buscar">
    <input type="text" name="qAND" class="cab_inputxt" value="" onfocus="texto_pordefecto(this);" onblur="texto_pordefecto(this);" />
    <input name="OK" type="button" class="cab_boton" id="OK" title="Iniciar búsqueda" value="IR" onClick="busqueda();"/>
</form>
    
<!-- Include from: /ideal_2009/jaen/portada/cabecera.dwp -->

    <script language="javascript" type="text/javascript">
  MQT.moduloCabeceraVideochat();
  </script>
    
<div class="modcab_meteo">
  <div class="mcmet">
    <div class="mcmet_datos">
      <div class="mcmet_datos2">
        <div class="mcmet_ico met_sol">sol</div>
        <span class="mcmet_label">Hoy</span>
        <span class="mcmet_min">5</span> / <span class="mcmet_max">16</span>
        <span class="mcmet_separa">|</span><span class="mcmet_separa2">|</span>
        <span class="mcmet_label">Ma&ntilde;ana</span>
        <span class="mcmet_min">5</span> / <span class="mcmet_max">15</span>
        <span class="mcmet_separa2">|</span>
      </div>
    </div>
  </div>
  <form class="mcmet_localidades" action="">
    <select id="provincia2" onChange="poblar2()">
      <option selected value="">Seleccione Provincia</option>
      <option value="A_Corunna">A Coruña</option>
      <option value="Alava">Alava</option>
      <option value="Albacete">Albacete</option>
      <option value="Alicante">Alicante</option>
      <option value="Almeria">Almería</option>
      <option value="Asturias">Asturias</option>
      <option value="Avila">Ávila</option>
      <option value="Badajoz">Badajoz</option>
      <option value="Baleares">Baleares</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Bizkaia">Bizkaia</option>
      <option value="Burgos">Burgos</option>
      <option value="Caceres">Cáceres</option>
      <option value="Cadiz">Cádiz</option>
      <option value="Cantabria">Cantabria</option>
      <option value="Castellon">Castellón</option>
      <option value="Ceuta">Ceuta</option>
      <option value="Ciudad_Real">Ciudad Real</option>
      <option value="Cordoba">Córdoba</option>
      <option value="Cuenca">Cuenca</option>
      <option value="Gipuzkoa">Gipuzkoa</option>
      <option value="Girona">Girona</option>
      <option value="Granada">Granada</option>
      <option value="Guadalajara">Guadalajara</option>
      <option value="Huelva">Huelva</option>
      <option value="Huesca">Huesca</option>
      <option value="Jaen">Jaén</option>
      <option value="La_Rioja">La Rioja</option>
      <option value="Las_Palmas">Las Palmas</option>
      <option value="Leon">León</option>
      <option value="Lleida">Lleida</option>
      <option value="Lugo">Lugo</option>
      <option value="Madrid">Madrid</option>
      <option value="Malaga">Málaga</option>
      <option value="Melilla">Melilla</option>
      <option value="Murcia">Murcia</option>
      <option value="Navarra">Navarra</option>
      <option value="Ourense">Ourense</option>
      <option value="Palencia">Palencia</option>
      <option value="Pontevedra">Pontevedra</option>
      <option value="Salamanca">Salamanca</option>
      <option value="Santa_Cruz_de_Tenerife">Santa Cruz de Tenerife</option>
      <option value="Segovia">Segovia</option>
      <option value="Sevilla">Sevilla</option>
      <option value="Soria">Soria</option>
      <option value="Tarragona">Tarragona</option>
      <option value="Teruel">Teruel</option>
      <option value="Toledo">Toledo</option>
      <option value="Valencia">Valencia</option>
      <option value="Valladolid">Valladolid</option>
      <option value="Zamora">Zamora</option>
      <option value="Zaragoza">Zaragoza</option>
    </select>
    <select id="localidad2"><option selected value="">Seleccione Localidad</option></select>
    <input class="boton" value="IR" id="ir" name="ir" type="button" onclick="irMeteo(window.document.getElementById('localidad2').options[window.document.getElementById('localidad2').selectedIndex].value)">
  </form>
</div>
     



















<!-- Include from: /ideal_2009/granada/portada/cabecera.dwp -->

  
  
    
    
      


  
  
  
    
    
    
    
       
        
                
        
        
        
        
        
      <div class="modcab_tv">
<div class="photo">
<img height="18" width="75" alt="" src="/granada/portada/zona-CAB/fotos/idealtv1.png"></div>
<div class="mctv_txt">
<a class="a" href="http://www.idealtv.es/" title="www.idealtv.es" target="_blank">tu televisión online...</a>
</div>
</div>
 
    
  

    
  


  </div>
<div class="zonadecontenidos">
      <div class="zonaABC">
        <div class="migactualizacion">
  <div class="migapan">
    <span class="mpestas">Estás en:</span>
    <div class="mpdato"><a href="http://www.ideal.es/jaen" title="Jaén - Ideal">Jaén - Ideal</a></div>
                  <span class="mpsepara">&gt;</span><div class="mpdato"><a href="/jaen/local/" title="Noticias Jaén">Noticias Jaén</a></div>
                  <span class="mpsepara">&gt;</span><div class="mpdato"><a href="/jaen/local/jaen/" title="Noticias Jaen">Noticias Jaen</a></div>
                      <span class="mpsepara">&gt;</span><div class="mpdato">La Universidad de Jaén, quinta en satisfacción de estudiantes internacionales</div>
                  </div>
  </div>
<div class="cintillo_publi"><div id="publi1_auh"><script language="JavaScript">publiMJX('cintillo_superior980x28',1);</script></div></div>
          <!-- art -->
          <div class="articulo">
            <div class="art_head">
<h3 class="overhead">
<div class="ln" id="story-antetitulo">JAÉN</div>
</h3>
<h1 class="headline" style="">
<a href="/jaen/20130827/local/jaen/universidad-jaen-quinta-satisfaccion-201308271545.html" target="_self">La Universidad de Jaén, quinta en satisfacción de estudiantes internacionales</a>
</h1>
<h2 class="subhead">
<div class="ln" id="story-subtitulo">La encuesta ha sido realizada en STeXX, la plataforma de intercambio de experiencias de estudiantes de StudyPortals</div>
</h2>
<div class="date">27.08.13 - <span>15:45</span> - <div class="byline">EUROPA PRESS | </div>
</div>
<span class="contenido_form_articulo" id="form-articulo-top">


<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'es'}
  {parsetags: 'explicit'}
</script>
<script type="text/javascript">
function cargaPlusone() {
gapi.plusone.render("plusone-div", {"href": window.location.href , "size": "medium", "count": "true", "callback": "renderPlusone"});
gapi.plusone.render("plusone-div2", {"href": window.location.href ,"size": "medium", "count": "true", "callback": "renderPlusone2"});
}
function PrerenderPlusone() {
gapi.plusone.render("plusone-div2", {"href": window.location.href ,"size": "medium", "count": "true", "callback": "renderPlusone2"});
}
function PrerenderPlusone2() {
gapi.plusone.render("plusone-div", {"href": window.location.href ,"size": "medium", "count": "true", "callback": "renderPlusone"});
}

function renderPlusone() {
setTimeout("PrerenderPlusone()",1000);
}
function renderPlusone2() {
setTimeout("PrerenderPlusone2()",1000);
}
$(document).ready(function() {
setTimeout("cargaPlusone()",500);
});

</script>



<div class="art_barra">
  <ul class="art_herramientas">
    <li><a rel="nofollow" href="javascript:window.print()" class="ah_imprimir">Imprimir</a></li>
    <li><a rel="nofollow" href="#frm_art_envia" class="ah_enviar">Enviar</a></li>
    <li><a rel="nofollow" href="#frm_art_rectifica" class="ah_rectificar">Rectificar</a></li>
  </ul>
  <div class="contenidoestrellas">
    <div class="starvotos">
      <div class="starvotos"> <span id="votacion"> <a rel="nofollow" href="javascript:void(0);" class="vt1">1
        voto</a><a rel="nofollow" href="javascript:void(0);" class="vt2">2
        votos</a> <a rel="nofollow" href="javascript:void(0);" class="vt3">3
        votos</a><a rel="nofollow" href="javascript:void(0);" class="vt4">4
        votos</a><a rel="nofollow" href="javascript:void(0);" class="vt5">5
        votos</a></span></div>
    </div>
    <span class="numero_votos" id="numvotos-votos">0 votos</span> </div>
  <div class="art_compartir">
    <div class="art_ch5"><a id="num_comentarios_disqus_articulo_barra_herramientas" href="javascript:void(0);" data-disqus-identifier="" onclick="window.location.href='//'+window.location.host+window.location.pathname+'#opina'" class="num_comentarios">Comenta esta noticia </a> |</div>
    <div class="art_social"><span class="art_s_TW"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://www.ideal.es/jaen/20130827/local/jaen/universidad-jaen-quinta-satisfaccion-201308271545.html" data-via="ideal_jaen" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span> <span class="art_s_GO">
      <div id="plusone-div"></div>
      </span> <span class="art_s_TU"><a href="http://www.tuenti.com/share?url=http://www.ideal.es/jaen/20130827/local/jaen/universidad-jaen-quinta-satisfaccion-201308271545.html" target="_blank">En Tuenti</a></span><span class="art_s_FB"><script language="javascript">document.write('<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 120px; height: 21px;" src="http://www.facebook.com/plugins/like.php?href=' + window.location.href + '&amp;layout=button_count&amp;show_faces=true&amp;width=120&amp;action=recommend&amp;font=arial&amp;colorscheme=light&amp;height=21"></iframe>')</script></span></div>
  </div>
  <div class="form_art frm_art_envia">
    <h5 class="frm_header"><a rel="nofollow" href="#" class="boton cerrar">Cerrar</a>Env&iacute;a
      la noticia </h5>
    <form action="">
      <div class="frm_content">
        <p class="frm_txt">Rellena los siguientes campos para enviar esta informaci&oacute;n
          a otras personas.</p>
        
        <div class="frm_izq">
          <p>
            
            <label>Nombre <span class="asterisco">*</span> <br />
                        <input type="text" name="author_name_er" class="caja" value=""  maxlength="30"/>
            </label>
          </p>
        </div>
        <div class="frm_izq">
          <p>
            
            <label>Email remitente <span class="asterisco">*</span> <br />
            <input type="text" name="author_email_er" class="caja" value=""  />
            </label>
          </p>
        </div>
        <div class="frm_izq">
         
          <p>
            <label>Email destinatario   <span class="asterisco">*</span><br />
          
            <input type="text" name="author_email_ed" class="caja" value=""  />
            </label>
          </p>
        </div>
        <div class="clear"></div>
        <span class="obligatorio">* campos obligatorios</span> </div>
      <div class="frmop_bottom"><a class="boton" href="javascript:void(0)" onclick="HERRAMIENTAS.enviarNoticia()">Enviar</a></div>
    </form>
  </div>
  <div class="form_art frm_art_rectifica">
    <h5 class="frm_header"><a href="#" class="boton cerrar">Cerrar</a> Rectificar
      la noticia </h5>
    <form action="">
      <div class="frm_content">
        <p class="frm_txt">Rellene todos los campos con sus datos.</p>
        <p class="frm_der">
          <label>Comentario <span class="asterisco">*</span><br />
          <textarea name="message_r" cols="5" rows="5" onclick="this.value = HERRAMIENTAS.click_denuncia ? this.value : ''; HERRAMIENTAS.click_denuncia = 1">escribe aquí tu comentario</textarea>
          </label>
        </p>
        <div class="frm_izq">
          <p>
            <label>Nombre <span class="asterisco">*</span> <br />
            <input type="text" name="author_name_r" class="caja" value=""  />
            </label>
          </p>
          <p>
            <label>Email <span class="asterisco">*</span><br />
            <input type="text" name="author_email_r" class="caja" value=""  />
            </label>
          </p>
          <span class="obligatorio">* campos obligatorios</span></div>
        <div class="clear"></div>
      </div>
      <div class="frmop_bottom"><a rel="nofollow" class="boton" href="javascript:void(0)" onclick="HERRAMIENTAS.enviarRectificacion()">Enviar</a></div>
    </form>
  </div>
</div>

<script type="text/javascript">
    $('#num_comentarios_disqus_articulo_barra_herramientas').attr('data-disqus-identifier', comentariosId);
</script></span>
</div>
<div class="colABC_articulo">
                <div class="colAB_articulo">
                  <div class="colAB_articulo">
<div id="noticia-pestanas">
<div id="ccronica" class="opt01 active">
<div class="text" itemprop="">
<p class="p">Una encuesta de StudyPortals sitúa a la Universidad de Jaén (UJA) como "la quinta mejor en España en términos de satisfacción de estudiantes internacionales", con base en un sondeo realizado a alumnos, donde ha obtenido una puntuación de 8,9 sobre diez.</p>
<p class="p">Según ha indicado este martes la institución académica en una nota, la encuesta ha sido realizada en STeXX (http://www.stexx.eu/), la plataforma de intercambio de experiencias de estudiantes de StudyPortals, líder en búsqueda y selección de estudios superiores europeos.</p>
<p class="p">Más de 16.500 estudiantes han dado su puntuación hasta un máximo de diez puntos, explicando también en qué se han basado. StudyPortals ha analizado toda esta información para entender lo que influencia en la satisfacción de los estudiantes internacionales en Europa y próximamente publicará un informe con los detalles de estos resultados.</p>
</div>
</div>
</div>
</div>
<!-- fin-art-->
            <!-- -->
            <div class="publiEspecial" id="publiEspecial" style="display:none;background: #FFFFFF url(/img/rd.titu_publiroba.png) no-repeat 10px 5px;clear:both;padding:20px 10px 10px 10px; *padding-top:10px">
<div class="publicidad_especial">
<script language="JavaScript" type="text/javascript">
    activaTextLink();
  </script>

  

  
<!-- begin ad tag text link Ing Direct Cuenta Naranja-->
<script language="JavaScript" type="text/javascript">
if (location.href.indexOf('/economia/autonomos') == -1){
if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
document.write('<scr'+'ipt src="http://ad.es.doubleclick.net/adj/vocento.patrocinio/textlink_ing_naranja_ppll;sz=4x4;ord=' + ord + '?"><\/scr'+'ipt>');
}
</script>
<!-- End ad tag -->


</div>
<div class="publicidad_especial">
<script language="JavaScript" type="text/javascript">
    activaTextLink();
  </script>
  


  
  <!-- begin ad tag text link Ing Direct Cuenta nomina-->
<script language="JavaScript" type="text/javascript">
if (location.href.indexOf('/economia/autonomos') == -1){
if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
document.write('<scr'+'ipt src="http://ad.es.doubleclick.net/adj/vocento.patrocinio/textlink_ing_nomina_ppll;sz=4x4;ord=' + ord + '?"><\/scr'+'ipt>');
}
</script>
<!-- End ad tag -->

</div>
<div class="publicidad_especial">
  <script language="JavaScript" type="text/javascript">
    activaTextLink();
  </script>
  



  <!-- begin ad tag text link openbank-->
<script language="JavaScript" type="text/javascript">
if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
document.write('<scr'+'ipt src="http://ad.es.doubleclick.net/N4900/adj/vocento.patrocinio/textlink_openbank;sz=4x4;ord=' + ord + '?"><\/scr'+'ipt>');
</script>
<!-- End ad tag -->

</div>
<div class="publicidad_especial">



</div>

</div>

<div id="panTextAds_662x260" style="display:none"></div>
<script type="text/javascript">
  var cX = cX || {}; cX.callQueue = cX.callQueue || [];
  cX.callQueue.push(['insertAdSpace', {
    adSpaceId: ' 00000000010c157f',
    insertBeforeElementId: 'panTextAds_662x260',
    adUnitWidth: 662, adUnitHeight: 260,
    k: 'panbackfill',
    initialHorizontalAdUnits: 1, initialVerticalAdUnits: 1,
    renderTemplateUrl: 'http://cdn.cxpublic.com/PAN_Text_662x260.html'
  } ]);
</script> 
<script type="text/javascript">
  (function() { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async';
  scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js';
  var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {}; }());
</script>
<!-- PAN Text Ads 662x260 end -->



            <div class="publi-bottom publi-bottom-new clearfix">
                <ul>
                  <li>
                    <script>
                      publiMJX('boton1_300x90',1);
                    </script>
                  </li>
                  <li class="fin">
                    <script>
                      publiMJX('boton2_300x90',1);
                    </script>
                  </li>
                </ul>
              </div>
            <span class="contenido_form_articulo" id="form-articulo-bottom">
                  


<div class="art_barra_AB clearfix">
  <div class="art_compartir clearfix">
    <div class="art_social clearfix"> <span class="art_s_TW"><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span> <span class="art_s_GO">
      <div id="plusone-div2"></div>
      </span> <span class="art_s_TU"><a href="http://www.tuenti.com/share?url=http://www.ideal.es/jaen/20130827/local/jaen/universidad-jaen-quinta-satisfaccion-201308271545.html" target="_blank">En Tuenti</a></span> <span class="art_s_FB"><script language="javascript">document.write('<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 120px; height: 21px;" src="http://www.facebook.com/plugins/like.php?href=' + window.location.href + '&amp;layout=button_count&amp;show_faces=true&amp;width=120&amp;action=recommend&amp;font=arial&amp;colorscheme=light&amp;height=21"></iframe>')</script></span></div>
  </div>
  <ul class="art_herramientas">
    <li><a rel="nofollow" href="javascript:window.print()" class="ah_imprimir">Imprimir</a></li>
    <li><a rel="nofollow" href="#frm_art_envia" class="ah_enviar">Enviar</a></li>
    <li><a rel="nofollow" href="#frm_art_rectifica" class="ah_rectificar">Rectificar</a></li>
  </ul>
  <!-- <div class="art_ch5"><a href="javascript:void(0);" data-disqus-identifier="" onclick="window.location.href='//'+window.location.host+window.location.pathname+'#opina'" class="anclaopina"><span class="art_ch5_comentarios" id="num-comentarios">0</span> Comentarios</a> |</div> -->
  <div class="contenidoestrellas">
    <div class="starvotos">
      <div class="starvotos"> <span id="votacion"> <a rel="nofollow" href="javascript:void(0);" class="vt1">1
        voto</a><a rel="nofollow" href="javascript:void(0);" class="vt2">2
        votos</a> <a rel="nofollow" href="javascript:void(0);" class="vt3">3
        votos</a><a rel="nofollow" href="javascript:void(0);" class="vt4">4
        votos</a><a rel="nofollow" href="javascript:void(0);" class="vt5">5
        votos</a></span></div>
    </div>
    <span class="numero_votos" id="numvotos-votos">0 votos</span> </div>
  
</div>


                  </span>
                  
              <div class="form_art form_opina" id="opina"></div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '30.6.10590248340803';
    var disqus_title = escape(document.title);
    var disqus_url = window.location.href;
    
    $(document).ready(function() {
      COMENTARIOS_DISQUS.obtenerComentarios();
      COMENTARIOS_DISQUS.obtenerNumeroComentariosPortada();
    });
</script>
              <div class="separacion"></div>
                <div id="publi1_noxtrum"></div>
          </div>
          <div class="colC_articulo">
            <div class="colC_articulo_contenido">
            <div class="fotogalerias foto-zonac">
<div class="photo zonacfoto" id="foto-zonac-1">
<img alt="La Universidad de Jaén, quinta en satisfacción de estudiantes internacionales" src="/granada/noticias/201308/27/Media/otra/uja--300x180.jpg" height="180" width="300"></div>
</div>
<script language="javascript" type="text/javascript">
    MQT.paginacion('foto-zonac',false);
    </script>
</div>
                <!-- dc: publicidad fija en columna C -->
                 <div class="robapaginas">
                <div id="publi1_Top5">
  <script language="JavaScript">
    publiMJXOCultaDivPubli('publi1_Top5','boton_loc_superior',1);
  </script>
</div>
</div>
                  
                  <div class="robapaginas">
                <div id="publi1_Top6">
  <script language="JavaScript">
    publiMJXOCultaDivPubli('publi1_Top6','recuerdo_corti_layer_nal',1);
  </script>
</div>
</div>      
              <div class="robapaginas">
                <div id="publi1_Top7">
  <script language="JavaScript">
    publiMJXOCultaDivPubli('publi1_Top7','robapaginas',1);
  </script>
</div>
</div>
                  
<link href="/includes/manuales/modulo-noticias-portada/css/carruselNoticias.css" rel="stylesheet" type="text/css"></link>
<script type="text/javascript" src="/includes/manuales/modulo-noticias-portada/js/jquery.supremation.min.js"></script>

<div class="carruselNoticias">
  <h4 class="ahora-portada">Ahora en portada... <a href="http://www.ideal.es/jaen" class="medio-ideal">ideal.es</a></h4>
  <h6 class="visita"><a href="http://www.ideal.es/jaen" title="Portada de ideal.es">Visitar portada</a></h6> 
  <div class="jcarousel-container jcarousel-container-vertical">
    <div class="jcarousel-clip jcarousel-clip-vertical">
      <ul id="mycarousel" class="jcarousel-list jcarousel-list-vertical" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px;">
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                                    <div class="foto">
                <img src="http://resizer.ideal.es/resizer/resizer.php?imagen=http://www.ideal.es/granada/noticias/201312/15/Media/Jaen/rjaen-juanma--300x180.jpg&nuevoancho=309&nuevoalto=187"/>
              </div>
                        <p class="seccion">
</p>
            <h5 class="titular-modulo"><a href="" title="Al Real Jaén le gustan grandes">Al Real Jaén le gustan grandes</a></h5>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                      <div class="bloque-noticias">
              <div style="float:left; width:49%">
                <p class="seccion">jaén</p>
                <h5 class="titular-modulo"><a href="" title="El Ayuntamiento tilda de &quot;decepcionantes&quot; los primeros cien días de Susana Díaz">El Ayuntamiento tilda de "decepcionantes" los primeros cien días de Susana Díaz</a></h5>
              </div>
                    
                    
                            
                    
                        <div style="float:right; width:49%">
                <p class="seccion">la carolina</p>
                <h5 class="titular-modulo"><a href="" title="Un bombero fuera de servicio, herido en el incendio de un bar">Un bombero fuera de servicio, herido en el incendio de un bar</a></h5>
              </div>
            </div>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                      <div class="bloque-noticias">
              <div style="float:left; width:49%">
                <p class="seccion">jaén</p>
                <h5 class="titular-modulo"><a href="" title="IU: &quot;Es necesario que el Ayuntamiento preste la dependencia y la Junta pague&quot;">IU: "Es necesario que el Ayuntamiento preste la dependencia y la Junta pague"</a></h5>
              </div>
                    
                    
                            
                    
                        <div style="float:right; width:49%">
                <p class="seccion">a lo 81 años</p>
                <h5 class="titular-modulo"><a href="" title="Muere Peter O'Toole, el inolvidable 'Lawrence de Arabia'">Muere Peter O'Toole, el inolvidable 'Lawrence de Arabia'</a></h5>
              </div>
            </div>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                                  <p class="seccion">TRAGEDIA EN ALCALÁ DE GUADAIRA</p>
            <h5 class="titular-modulo"><a href="" title="Una familia tocada por la crisis «como tantas en España»">Una familia tocada por la crisis «como tantas en España»</a></h5>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                      <div class="bloque-noticias">
              <div style="float:left; width:49%">
                <p class="seccion">GRANADABLOGS | CARTA DEL DIRECTOR</p>
                <h5 class="titular-modulo"><a href="" title="La olla catalana no se convertirá en bomba ">La olla catalana no se convertirá en bomba
</a></h5>
              </div>
                    
                    
                            
                    
                        <div style="float:right; width:49%">
                <p class="seccion">FÚTBOL | primera división</p>
                <h5 class="titular-modulo"><a href="" title="Empate en un partido tenso e igualado">Empate en un partido tenso e igualado</a></h5>
              </div>
            </div>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                      <div class="bloque-noticias">
              <div style="float:left; width:49%">
                <p class="seccion">religión</p>
                <h5 class="titular-modulo"><a href="" title="El Papa dice que no es marxista, pero no se ofende si se lo llaman">El Papa dice que no es marxista, pero no se ofende si se lo llaman</a></h5>
              </div>
                    
                    
                            
                    
                        <div style="float:right; width:49%">
                <p class="seccion">ANDALUCÍA</p>
                <h5 class="titular-modulo"><a href="" title="La vuelta a España en cien días">La vuelta a España en cien días</a></h5>
              </div>
            </div>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                                  <p class="seccion">famosos</p>
            <h5 class="titular-modulo"><a href="" title="Kiko Rivera admite que los 'tuits' atacando a Chabelita son suyos">Kiko Rivera admite que los 'tuits' atacando a Chabelita son suyos</a></h5>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                      <div class="bloque-noticias">
              <div style="float:left; width:49%">
                <p class="seccion">datos del ine</p>
                <h5 class="titular-modulo"><a href="" title="Menos familias numerosas y más parejas sin hijos">Menos familias numerosas y más parejas sin hijos</a></h5>
              </div>
                    
                    
                            
                    
                        <div style="float:right; width:49%">
                <p class="seccion">jaén</p>
                <h5 class="titular-modulo"><a href="" title="Hoteleros reclaman más control contra la &quot;gran oferta ilegal&quot;">Hoteleros reclaman más control contra la "gran oferta ilegal"</a></h5>
              </div>
            </div>
                    
                      </li>
                    
                            
                      <li class="jcarousel-item jcarousel-item-vertical" style="float: left; list-style: none outside none;">
                    
                      <div class="bloque-noticias">
              <div style="float:left; width:49%">
                <p class="seccion">JAÉN</p>
                <h5 class="titular-modulo"><a href="" title="Agencias denuncian a ocho 'organizadores de viajes' por competencia desleal">Agencias denuncian a ocho 'organizadores de viajes' por competencia desleal</a></h5>
              </div>
                    
                    
                            
                    
                        <div style="float:right; width:49%">
                <p class="seccion">EL DÍA A DÍA EN LA CAÑADA REAL</p>
                <h5 class="titular-modulo"><a href="" title="Bienvenidos al gran supermercado de la droga">Bienvenidos al gran supermercado de la droga</a></h5>
              </div>
            </div>
                    
                      </li>
                    
                        </ul>
    </div>
    <div class="jcarousel-prev jcarousel-prev-vertical"></div>
    <div class="jcarousel-next jcarousel-next-vertical"></div>
  </div>
</div>

<script type="text/javascript">
  
    $(document).ready(function() {
      var enlaces = new Array();
      
                    enlaces[0] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.578283891";
                    enlaces[1] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.572629488";
                    enlaces[2] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.566974595";
                    enlaces[3] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.566389842";
                    enlaces[4] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.575777699";
                    enlaces[5] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.577373957";
                    enlaces[6] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.570659956";
                    enlaces[7] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.552376407";
                    enlaces[8] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.561148851";
                    enlaces[9] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.552156195";
                    enlaces[10] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.561992968";
                    enlaces[11] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.463277478";
                    enlaces[12] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.564223837";
                    enlaces[13] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.551289793";
                    enlaces[14] = "http://www.ideal.es/jaen?utm_source=" +  document.URL + "&utm_medium=modulo-links&utm_campaign=modulo-links-home#ideal-30.7.572199748";
                  
      _gaq.push(['_trackEvent', 'Modulo-links', 'Impresion', document.URL]);
      
      $.each($("#mycarousel li.jcarousel-item a"), function(key, value) {
        $(this).attr('href', enlaces[key]);
      });
      
      var sum = 0;
      $.each($("#mycarousel li.jcarousel-item"), function(key, value) {
        sum += $(this).height();
      });
      sum = sum - 115;
      
      //alert(sum);
      
      $('#mycarousel').supremate({
        top: -sum
      }, 50, 'linear', function() {
        $('#mycarousel').supremate({
          top: 0
        }, 50, 'linear', function() {
        });
      });
      
      $(".carruselNoticias div.jcarousel-next").hover(
        function(){
          $('#mycarousel').stop(true);
          $('#mycarousel').supremate({
            top: -sum
          }, 100, 'linear', function() {
          });
        },
        function () {
          $('#mycarousel').stop(true);
        }
      );
      
      $(".carruselNoticias div.jcarousel-prev").hover(
        function(){
          $('#mycarousel').stop(true);
          $('#mycarousel').supremate({
            top: 0
          }, 100, 'linear', function() {
          });
        },
        function () {
          $('#mycarousel').stop(true);
        }
      );
      
      $('#mycarousel').hover(function(){
        $("#mycarousel").stop(true);
      });
    }); 
  
</script>

                  
<!-- Include from: /ideal_2009/jaen/local/jaen/articulo-zona-C.dwp -->
<div id="publi_1036524019_1385576118995" class="nuevaPubli"><script type="text/javascript">if (typeof compruebaPubli != 'undefined') {compruebaPubli ('colC', elemsColC, false, "publi_1036524019_1385576118995");}</script></div><div class="robapaginas">
<div id="publi1_fe84c458-a764-11de-b782-aad3633b59e0-0"><script language="JavaScript">publiMJX("boton_local1",1);</script></div>
</div>
<div id="publi_10339422142_1385576119005" class="nuevaPubli"><script type="text/javascript">if (typeof compruebaPubli != 'undefined') {compruebaPubli ('colC', elemsColC, false, "publi_10339422142_1385576119005");}</script></div><script>(function(){function HOTDiv(tagg){jQuery(tagg).wrap('<div id="HOTWordsTxt" />');}HOTDiv('div.text');HOTDiv('div.lead-text');})();</script><script src="http://ads61682.hotwords.com/show.jsp?id=61682&tag=div&atr=id&vatr=HOTWordsTxt&cor=CC0000"></script>
<div id="publi_3063814509864_1385576119026" class="nuevaPubli"><script type="text/javascript">if (typeof compruebaPubli != 'undefined') {compruebaPubli ('colC', elemsColC, false, "publi_3063814509864_1385576119026");}</script></div><div class="mod_lomas">
<div id="masleido" class="bloque_lomas">
<div class="blm_header">
<a href="#" class="boton_despliega">pliega/despliega</a>Lo más visto</div>
<div class="blm_content">
  <h3 class="blm_titular"> 
    <a title="La investigación médica cerca al mieloma múltiple" href="http://www.ideal.es/salud/noticias/20131215/investigacion-medica-cerca-mieloma-201312142344-rc.html">La investigación médica cerca al mielom...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Un bombero fuera de servicio, herido en el incendio de un bar" href="http://www.ideal.es/jaen/20131215/local/provincia-jaen/herido-quemaduras-bombero-fuera-201312151348.html">Un bombero fuera de servicio, herido en...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="El matrimonio fallecido empezaba a recoger cartones a las siete" href="http://www.ideal.es/jaen/20131215/mas-actualidad/andalucia/familia-fallecida-alcala-guadaira-201312151337.html">El matrimonio fallecido empezaba a reco...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Robo al Real Jaén en La Victoria" href="http://www.ideal.es/jaen/20131215/mas-actualidad/sociedad/robo-real-jaen-victoria-201312131413.html">Robo al Real Jaén en La Victoria...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Al Real Jaén le gustan grandes" href="http://www.ideal.es/jaen/v/20131215/deportes/real-jaen/real-jaen-gustan-grandes-201312152135.html">Al Real Jaén le gustan grandes...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Según el humo del escape así será la avería" href="http://www.ideal.es/jaen/rc/20131215/sociedad/segun-humo-escape-sera-201312142335.html">Según el humo del escape así será la av...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="&quot;La eyaculación precoz y la anorgasmia, los problemas sexuales más consultados&quot;
" href="http://www.ideal.es/jaen/20131215/mas-actualidad/sociedad/eyaculacion-precoz-anorgasmia-problemas-201312082311.html">"La eyaculación precoz y la anorgasmia,...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Barcelona y París ya están a tiro de piedra gracias al AVE" href="http://www.ideal.es/jaen/rc/20131215/economia/barcelona-paris-tiro-piedra-201312150052.html">Barcelona y París ya están a tiro de pi...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Hoy, 15 de diciembre, en la edición impresa de IDEAL" href="http://www.ideal.es/jaen/20131215/local/jaen/diciembre-edicion-impresa-ideal-201312150221.html">Hoy, 15 de diciembre, en la edición imp...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="La 'humanización' de Ryanair" href="http://www.ideal.es/jaen/20131215/mas-actualidad/sociedad/humanizacion-ryanair-201312131505.html">La 'humanización' de Ryanair...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="Bienvenidos al gran supermercado de la droga" href="http://www.ideal.es/jaen/rc/20131215/sociedad/bienvenidos-gran-supermercado-droga-201312142306.html">Bienvenidos al gran supermercado de la ...</a>
  </h3>

  <h3 class="blm_titular"> 
    <a title="El Ayuntamiento piensa &quot;acudir a los tribunales&quot; por su &quot;exclusión&quot; del programa Andalucía Orienta" href="http://www.ideal.es/jaen/20131215/local/provincia-jaen/ayuntamiento-carolina-jaen-piensa-201312151253.html">El Ayuntamiento piensa "acudir a los tr...</a>
  </h3>

</div>
</div>
<div id="mascomentado" class="bloque_lomas">
<div class="blm_header">
<a href="#" class="boton_despliega">pliega/despliega</a>Lo más comentado </div>
<div class="blm_content"><div class="blm_content"><h3 class="blm_titular"><a href="http://www-origin.ideal.es/granada/20131214/local/granada/unas-personas-contra-violencia-201312141817.html" title="Unas 100 personas, contra la violencia policial en Granada">Unas 100 personas, contra la violencia policial en Granada</a></h3>
<h3 class="blm_titular"><a href="http://granadacf.ideal.es/noticias/2013-12-15/peor-juego-mejor-resultado-201312151046.html" title="Peor juego, mejor resultado - Granada Club de Fútbol">Peor juego, mejor resultado - Granada Club de Fútbol</a></h3>
<h3 class="blm_titular"><a href="http://www.ideal.es/granada/20131214/mas-actualidad/andalucia/junta-andalucia-rechaza-educacion-201312141745.html" title="La Junta de Andalucía rechaza la educación segregada">La Junta de Andalucía rechaza la educación segregada</a></h3>
<h3 class="blm_titular"><a href="http://granadacf.ideal.es/noticias/2013-12-14/dulce-sufrimiento-vallecas-201312142042.html" title="Dulce sufrimiento en Vallecas (0-2) - Granada Club de Fútbol">Dulce sufrimiento en Vallecas (0-2) - Granada Club de Fútbol</a></h3>
<h3 class="blm_titular"><a href="http://www.ideal.es/granada/20131215/mas-actualidad/andalucia/familia-fallecida-alcala-guadaira-201312151337.html" title="La familia fallecida en Alcalá de Guadaíra vivía de comida caducada">La familia fallecida en Alcalá de Guadaíra vivía de comida caducada</a></h3>
</div>
</div>
</div>

<div id="noticiasminuto" class="bloque_lomas">
<div class="blm_header">
<a href="#" class="boton_despliega">pliega/despliega</a>Noticias al minuto (agencias)</div>
<div class="blm_content"><div class="blm_content">
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/deportes/futbol/oriol-riera-sergio-ramos-neymar_201312152337.html" title="Oriol Riera, Sergio Ramos, Neymar, Diego Costa y Esteban">Oriol Riera, Sergio Ramos, Neymar, Diego</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/economia/kenny-celebra-irlanda-recupera-orgullo_201312152337.html" title="Kenny celebra que Irlanda recupera su &quot;orgullo&quot; con la conclusión del rescate">Kenny celebra que Irlanda recupera su</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/mas-actualidad/internacional/matthei-seguidores-reconocen-triunfo-bachelet_201312152333.html" title="Matthei y seguidores reconocen triunfo de Bachelet, pese a elevada abstención">Matthei y seguidores reconocen triunfo</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/mas-actualidad/internacional/michelle-bachelet-nuevo-presidenta-chile_201312152333.html" title="Michelle Bachelet, de nuevo presidenta de Chile">Michelle Bachelet, de nuevo presidenta</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/deportes/futbol/danubio-campeon-torneo-apertura-futbol_201312152333.html" title="Danubio campeón del torneo Apertura del fútbol uruguayo">Danubio campeón del torneo Apertura del</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/deportes/futbol/benfica-oporto-ganan-mantienen-caza_201312152327.html" title="El Benfica y el Oporto ganan y se mantienen a la caza del líder Sporting">El Benfica y el Oporto ganan y se</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/mas-actualidad/internacional/derecha-reconoce-legitimidad-triunfo-bachelet_201312152323.html" title="Derecha reconoce legitimidad del triunfo de Bachelet, pese elevada abstención">Derecha reconoce legitimidad del triunfo</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/mas-actualidad/internacional/bachelet-lidera-resultado-electoral-chile_201312152321.html" title="Bachelet lidera el resultado electoral en Chile con el 18,05% escrutado">Bachelet lidera el resultado electoral</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/deportes/futbol/danubio-campeon-torneo-apertura-futbol_201312152317.html" title="Danubio campeón del torneo Apertura del fútbol uruguayo">Danubio campeón del torneo Apertura del</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/mas-actualidad/sociedad/premiado-300.000-euros-5.000-anos_201312152315.html" title="Premiado con 300.000 euros y 5.000 al mes 20 años el 30.012 de la serie 013">Premiado con 300.000 euros y 5.000 al</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/deportes/futbol/diego-costa-caza-cristiano-ronaldo_201312152315.html" title="Diego Costa da caza a Cristiano Ronaldo">Diego Costa da caza a Cristiano</a>
</h4>
<h4 class="blm_titular">
<a href="http://www.ideal.es/agencias/20131215/deportes/futbol/resultados-16a.-jornada-clasificacion_201312152305.html" title="Resultados de la 16a. jornada y clasificación">Resultados de la 16a. jornada y</a>
</h4>
</div>

<div class="masinfo">
<a href="http://www.ideal.es/agencias/">ver todas las últimas noticias [+]</a>
</div>
</div>
</div>
</div>
<script language="javascript">
          MQT.activa_lomas("masleido");
        </script><script type="text/javascript">
      var idPort = '';
      if( idPort == 'uh-home' ) {
        $("#loultimo").html('');
        $("#loultimo").append('<a class="boton_despliega" href="#">pliega/despliega</a>');
        $("#loultimo").append("Lo Ultimo");
      }
    </script>
<div id="publi_10339421860_1385576119039" class="nuevaPubli"><script type="text/javascript">if (typeof compruebaPubli != 'undefined') {compruebaPubli ('colC', elemsColC, false, "publi_10339421860_1385576119039");}</script></div><div class="robapaginas">
<div id="publi1_3ef43ef0-5481-11df-8dd9-2a66485d8834-0"><script language="JavaScript">publiMJX("robapaginas_dos",1);</script></div>
</div>
<div id="publi_1241175848781_1385576119051" class="nuevaPubli"><script type="text/javascript">if (typeof compruebaPubli != 'undefined') {compruebaPubli ('colC', elemsColC, false, "publi_1241175848781_1385576119051");}</script></div><!--<script type="text/javascript" src="http://www.ideal.es/js/ctv/swfobject_publi.js"></script>-->
<script type="text/javascript" src="http://www.ideal.es/includes/manuales/multimedia/funciones.js"></script>
<script type="text/javascript" language="javascript">
  if (typeof WebTV_getEdicionLocal == "undefined") document.write ('<scr' + 'ipt type="text/javascript" src="http://www.ideal.es/includes/manuales/videos/js/dtsUtilidadesWebTV.js"></scr' + 'ipt>');
  
  function compruebaSiIncluirMetas() {
    if (location.href.indexOf('incluirMetas=si') != -1) {
      var codigoHTMLMetas = '<link rel="stylesheet" href="http://www.ideal.es/css/ppll.css" type="text/css" media="all">';
      codigoHTMLMetas += '<link rel="stylesheet" href="http://www.ideal.es/css/barranavegacion.css" type="text/css" media="all">';
      codigoHTMLMetas += '<link rel="stylesheet" href="http://www.ideal.es/css/rd.noticias.css" type="text/css" media="all">';
      document.write (codigoHTMLMetas);
      if (typeof jQuery == "undefined") document.write ('<scr' + 'ipt type="text/javascript" src="http://www.ideal.es/js/rd.jquery.js"></scr' + 'ipt>');
      if (typeof loadMultimedia == "undefined") document.write ('<scr' + 'ipt type="text/javascript" src="http://www.ideal.es/js/ctv/swfobject_publi.js"></scr' + 'ipt>');
    }
  }
  
  compruebaSiIncluirMetas();
</script>

<script>
  // Incluimos el JS 'swfobject_publi.js' en caso de que no este cargado ya (comprobamos si esta definda la function 'getEmbedVideo')
  //if (typeof getEmbedVideo == "undefined") document.write ('<scr' + 'ipt type="text/javascript" src="http://www.ideal.es/js/ctv/swfobject_publi.js"></scr' + 'ipt>');
  if ($('script[src $= "/swfobject_publi.js"]').length == 0) {
    jQuery.getScript('http://www.ideal.es/js/ctv/swfobject_publi.js');
  }
</script>

<script type="text/javascript" language="javascript"> 
    var paginaActual = 0;
    
    function irABloqueVideosB(indiceBloque) {   
      var i = 1;
      var parar = false;
      while (!parar) {
        var idObj1 = 'galerias_videos_B_' + i;
        var idObj2 = 'pagina_B_' + i;
        var obj1 = document.getElementById (idObj1);
        var obj2 = document.getElementById (idObj2);
        if ((obj1 != null) && (obj2 != null)) {
          if (indiceBloque == i) {
            obj1.style.display = 'block';
            obj2.className = 'activo';
            paginaActual = i - 1;                 
          }
          else {
            obj1.style.display = 'none';
            obj2.className = '';
          }
        }
        else {
          parar = true;
        }
        
        i++;
      }
    }
    
    function alternarBloqueVideosB() {
      if(document.getElementById('pagina_B_2')!=null){
          if(paginaActual == 0){
          document.getElementById('galerias_videos_B_1').style.display = 'none';
          document.getElementById('galerias_videos_B_2').style.display = 'block';
          document.getElementById('pagina_B_1').className = '';
          document.getElementById('pagina_B_2').className = 'activo';
          paginaActual = 1;
        }else{
          document.getElementById('galerias_videos_B_2').style.display = 'none';
          document.getElementById('galerias_videos_B_1').style.display = 'block';
          document.getElementById('pagina_B_2').className = '';
          document.getElementById('pagina_B_1').className = 'activo';
          paginaActual = 0;
        } 
      }         
    } 
    
    function cambiaVideoMMBB(alto, ancho, idVideo, imagen, medio, titulo, rutaVideo, tipoModulo){
      $("#embebidoMMBB").next().next().remove();
    $("#embebidoMMBB").next().next().remove();
    $("#embebidoMMBB").html('');
    var opciones = { capaModal : false};
      loadMultimedia("embebidoMMBB", ancho, alto, idVideo, imagen, medio, titulo, "bc", opciones);      
      
      var tituloVideo = document.getElementById ('BC_tituloVideo'+tipoModulo);
      if (tituloVideo != null) {
        tituloVideo.innerHTML = titulo;
      }
      if( rutaVideo.indexOf('.getLinkURL') == -1 ) {
        document.getElementById ('tituloVideo_B').href = rutaVideo;
    }     
    } 
    
    var esElecciones = ('Jaén' == 'Elecciones 20-N'); 
    
  function sustituyeURLParaElecciones (obj) { 
    if ((obj != null) && esElecciones) {
      try {
        // Estamos en la WebTV
        if (location.href.split('/')[3] == '/videos/') {
          var partesURL = location.href.split('/');
          var partes = obj.href.split('/');
          partes[4] = partesURL[4];
          partes[5] = 'elecciones';
          var url = partes[0];
          for (var i = 1; i < partes.length; i++) url += '/' + partes[i];
          top.location.href = url;      
        }
        // Estamos en /elecciones
        else {
          var edicionLocal = WebTV_getEdicionLocal();
          if (edicionLocal == null) {
            // Si es monoedicion
            var partes = obj.href.split('/');
            partes[3] = 'elecciones';
            partes[4] = 'videos';
            partes[5] = partes[6];
            var url = partes[0];
            for (var i = 1; i < partes.length - 1; i++) url += '/' + partes[i];
            top.location.href = url;      
          }
          else {
            // Si es multiedicion
            var partes = obj.href.split('/');
            partes[3] = edicionLocal;
            partes[4] = 'elecciones';
            partes[5] = 'videos';
            var url = partes[0];
            for (var i = 1; i < partes.length; i++) url += '/' + partes[i];
            top.location.href = url;      
          }       
        }     
      } catch(err) {
        top.location.href = obj.href;
      }   
    }
    else {
      top.location.href = obj.href;
    }
    
    return false;
  }    
</script>
<div class="modWebtv">
  <div class="logos">
    <div class="logotv" style="float: left; width: 150px;">
      <img src="http://www.ideal.es/includes/manuales/videos/img/moscas/mosca_ideal.png" alt="">
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="modheader">
    <div class="epigrafe">Videos de Jaén</div>
    <a class="mas" target="_top" href="http://www.ideal.es/videos/jaen/noticias/2934008127001-real-jaen-supera-match-ball.html" onclick="sustituyeURLParaElecciones(this);return false;"> m&aacute;s videos [+]</a>
  </div>
  <div class="modcontent">
    <div class="video">
      <div id="embebidoMMBB"></div>
      <SCRIPT TYPE="text/JavaScript">
                var NOMBRE_DE_DIV = "embebidoMMBB";
                var ANCHURA = 253;
                var ALTURA = 177;
                var RUTA_VIDEO = '2934008127001';
                var RUTA_IMAGEN = 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/1422/86746483001_2935096775001_vs-52ac7102e4b0146dc599152a-672293880001.jpg?pubId=86746483001';
                var SITIO = 'ideal';
        var PUBLI_TITULO = 'El Real Ja&eacute;n supera el &#039;match ball&#039; del CSD';
                var CATEGORY  = 'bc';                
        var opciones = { capaModal : false};
        loadMultimedia(NOMBRE_DE_DIV, ANCHURA, ALTURA, RUTA_VIDEO, RUTA_IMAGEN, SITIO, PUBLI_TITULO, CATEGORY, opciones);
            </SCRIPT>
    </div>
    <div class="antetitulo">Jaén</div>
    <div class="titulo">
      <a target="_top" id="tituloVideo_B" href="http://www.ideal.es/videos/jaen/noticias/2934008127001-real-jaen-supera-match-ball.html" onclick="sustituyeURLParaElecciones(this);return false;"><span id="BC_tituloVideoB">El Real Jaén supera el 'match ball' del CSD</span></a>
    </div>
  </div>  
  
  <div class="modnav">
    <a style="cursor:pointer" class="btI" onClick="javascript:alternarBloqueVideosB();">
      <img src="http://www.ideal.es/includes_e/multimedia/img/rd.btn-atras.gif" alt="atras"/>
    </a>
    <span>
      <a class="activo" style="cursor:pointer;" id="pagina_B_1" onClick="javascript:irABloqueVideosB(1);">1</a>
      <a style="cursor:pointer;" id="pagina_B_2" onClick="javascript:irABloqueVideosB(2);">2</a>
    </span>
    <a style="cursor:pointer" class="btD" onClick="javascript:alternarBloqueVideosB();">
      <img src="http://www.ideal.es/includes_e/multimedia/img/rd.btn-sig.gif" alt="siguiente"/>
    </a>
  </div>
  <div class="thumbnails">
    <div id="galerias_videos_B_1">
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2927077892001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/3328/86746483001_2927105393001_vs-52a9a977e4b061cf2c73a5ee-672293882001.jpg?pubId=86746483001', 'ideal', 'Alcaldes socialistas rodean la Diputación de Jaén contra la reforma local', 'http://www.ideal.es/videos/jaen/noticias/2927077892001-alcaldes-socialistas-rodean-diputacion-jaen-contra-reforma-local.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/328/86746483001_2927105394001_th-52a9a977e4b061cf2c73a5ee-672293882001.jpg?pubId=86746483001" title="Alcaldes socialistas rodean la Diputaci&oacute;n de Ja&eacute;n contra la reforma local"></img>
        </a>
      </div>
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2926905428001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/2024/86746483001_2927034644001_vs-52a99d48e4b061cf2c73a428-767904725001.jpg?pubId=86746483001', 'ideal', 'Maeztu aboga por que la Junta comprometa el pago de la deuda de la dependencia', 'http://www.ideal.es/videos/jaen/noticias/2926905428001-maeztu-aboga-junta-comprometa-pago-deuda-dependencia.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/1024/86746483001_2927034645001_th-52a99d48e4b061cf2c73a428-767904725001.jpg?pubId=86746483001" title="Maeztu aboga por que la Junta &quot;comprometa&quot; el pago de la deuda de la dependencia"></img>
        </a>
      </div>
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2925793283001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/1408/86746483001_2925879165001_vs-52a91de9e4b018729297329b-782203290001.jpg?pubId=86746483001', 'ideal', '«La investigación del robo está en su punto más caliente»', 'http://www.ideal.es/videos/jaen/noticias/2925793283001-investigacion-robo-esta-punto-caliente.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/408/86746483001_2925879166001_th-52a91de9e4b018729297329b-782203290001.jpg?pubId=86746483001" title="&laquo;La investigaci&oacute;n del robo est&aacute; en su punto m&aacute;s caliente&raquo;"></img>
        </a>
      </div>
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2921991197001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/2255/86746483001_2922177583001_vs-52a83410e4b018729296f54d-782203287001.jpg?pubId=86746483001', 'ideal', 'El PSOE pide al alcalde que rectifique en la Dependencia', 'http://www.ideal.es/videos/jaen/noticias/2921991197001-psoe-pide-alcalde-rectifique-dependencia.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/1255/86746483001_2922177584001_th-52a83410e4b018729296f54d-782203287001.jpg?pubId=86746483001" title="El PSOE pide al alcalde que rectifique en la Dependencia"></img>
        </a>
      </div>
          
    </div>
    <div style="display: none;" id="galerias_videos_B_2">
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2919419836001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/130/86746483001_2919491733001_vs-52a73b7ce4b00f8cb61ebfea-1592194023001.jpg?pubId=86746483001', 'ideal', 'Los parados de municipios donde se realicen obras públicas tendrán prioridad sobre otros', 'http://www.ideal.es/videos/granada/noticias/2919419836001-parados-municipios-donde-realicen-obras-publicas-tendran-prioridad-sobre-otros.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/1130/86746483001_2919491734001_th-52a73b7ce4b00f8cb61ebfea-1592194023001.jpg?pubId=86746483001" title="Los parados de municipios donde se realicen obras p&uacute;blicas tendr&aacute;n prioridad sobre otros"></img>
        </a>
      </div>
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2917958938001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/3942/86746483001_2918103404001_vs-52a7169ae4b00f8cb61eb505-672293878001.jpg?pubId=86746483001', 'ideal', 'Robo en la sede del Real Jaén', 'http://www.ideal.es/videos/jaen/noticias/2917958938001-robo-sede-real-jaen.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/2942/86746483001_2918103405001_th-52a7169ae4b00f8cb61eb505-672293878001.jpg?pubId=86746483001" title="Robo en la sede del Real Ja&eacute;n"></img>
        </a>
      </div>
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2891649506001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/184/86746483001_2891678829001_vs-529f1f6ae4b0a2f1cdf9419d-767904725001.jpg?pubId=86746483001', 'ideal', 'PSOE Francisco Reyes y Manuel Fernández Palomino, en rueda de prensa', 'http://www.ideal.es/videos/jaen/noticias/2891649506001-psoe-francisco-reyes-manuel-fernandez-palomino-rueda-prensa.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/3184/86746483001_2891678830001_th-529f1f6ae4b0a2f1cdf9419d-767904725001.jpg?pubId=86746483001" title="PSOE Francisco Reyes y Manuel Fern&aacute;ndez Palomino, en rueda de prensa"></img>
        </a>
      </div>
      
      <div class="photo">
        <a style="cursor:pointer" onClick="return cambiaVideoMMBB(177, 253, '2889767470001', 'http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/2743/86746483001_2889775653001_vs-529e1b5be4b0a2f1cdf914fd-1083021586001.jpg?pubId=86746483001', 'ideal', 'Inauguración plaza de Vicente oyaa', 'http://www.ideal.es/videos/jaen/noticias/2889767470001-inauguracion-plaza-vicente-oyaa.html', 'B')">
          <img height="40" width="60" src="http://comeresa.brightcove.com.edgesuite.net/images/86746483001/201312/1743/86746483001_2889775654001_th-529e1b5be4b0a2f1cdf914fd-1083021586001.jpg?pubId=86746483001" title="Inauguraci&oacute;n plaza de Vicente oyaa"></img>
        </a>
      </div>
          
    </div>
  </div>
  <div class="clear"></div> 
</div>
<div class="separacion">
</div>
  
                  </div>
        </div>
      </div>
      </div>
    </div> 
  <!-- PIE comun -->
<div class="pie">
<div class="pieIN">
  <div class="pie_izq">
  <a href="http://www.vocento.com" class="pi_vocento" target="_blank">Vocento</a>
  </a>
  </div>
  <div class="pie_datos">
  <span id="pie_copyright"><h6><img src="http://www.ideal.es/img/rd.pie_IDEAL.png" alt="Ideal.es" /></h6>
<p class="pie_legal"><strong>&copy; Ideal Comunicaci&oacute;n Digital SL Unipersonal</strong> <br />
  Registro Mercantil de Granada, Tomo 924, Libro 0, Folio 64, Secci&oacute;n 8, Hoja GR17840, Inscripci&oacute;n 1&ordf;
C.I.F.: B18553883
Domicilio social en C/ Huelva 2, Pol&iacute;gono de ASEGRA 18210 Peligros (Granada)
Correo electr&oacute;nico de contacto: idealdigital&#64;ideal.es
Copyright &copy; Ideal Comunicaci&oacute;n Digital S.L.U., Granada, 2008. Incluye contenidos de la empresa citada, del diario IDEAL editado por Corporaci&oacute;n de Medios de Andaluc&iacute;a y en su caso, de otras empresas del grupo de la empresa o de terceros.</p>
<p class="pie_reservados">EN CUALQUIER CASO TODOS LOS DERECHOS RESERVADOS:
  <br />
Queda prohibida la reproducci&oacute;n, distribuci&oacute;n, puesta a disposici&oacute;n, comunicaci&oacute;n p&uacute;blica y utilizaci&oacute;n, total o parcial, de los contenidos de esta web, en cualquier forma o modalidad, sin previa, expresa y escrita autorizaci&oacute;n, incluyendo, en particular, su mera reproducci&oacute;n y/o puesta a disposici&oacute;n como res&uacute;menes, rese&ntilde;as o revistas de prensa con fines comerciales o directa o indirectamente lucrativos, a la que se manifiesta oposici&oacute;n expresa. </p>
  
  


</span>
  </div>
  <div class="pie_enlaces_vocento">
  <h6>Enlaces Vocento</h6>
    <ul>
      <li><a title="ABC" href="http://www.abc.es" target="_blank">ABC.es</a></li>
      <li><a title="Hoy" href="http://www.hoy.es" target="_blank">Hoy Digital</a></li>
      <li><a title="El Correo" href="http://www.elcorreo.com" target="_blank">El Correo</a></li>
      <li><a title="La Rioja" href="http://www.larioja.com" target="_blank">La Rioja.com</a></li>
      <li><a title="El Norte de Castilla" href="http://www.elnortedecastilla.es" target="_blank">Elnortedecastilla.es</a></li>
      <li><a title="Diario Vasco" href="http://www.diariovasco.com" target="_blank">DiarioVasco.com</a></li>
      <li><a title="El Comercio" href="http://www.elcomercio.es" target="_blank">Elcomercio.es</a></li>
      <li><a title="Ideal" href="http://www.ideal.es" target="_blank">Ideal digital</a></li>
      <li><a title="Diario Sur" href="http://www.diariosur.es" target="_blank">SUR.es</a></li>
      <li><a title="Las Provincias" href="http://www.lasprovincias.es" target="_blank">Las Provincias</a></li>
      <li><a title="Que" href="http://www.que.es" target="_blank">Qu&eacute;.es</a></li>
      <li><a title="El Diario Monta&ntilde;&eacute;s" href="http://www.eldiariomontanes.es" target="_blank">El Diario Monta&ntilde;&eacute;s</a></li>
      <li><a title="La Voz Digital" href="http://www.lavozdigital.es" target="_blank">La Voz Digital</a></li>
      <li><a title="La Verdad" href="http://www.laverdad.es" target="_blank">Laverdad.es</a></li>
      <li><a title="ABC Punto Radio" href="http://www.abc.es/radio" target="_blank">ABC Punto Radio</a></li>
      <li><a title="Finanzas.com" href="http://www.finanzas.com" target="_blank">Finanzas</a></li>
      <li><a title="Hoycinema" href="http://www.hoycinema.com" target="_blank">hoyCinema</a></li>
      <li><a title="Hoymotor" href="http://www.hoymotor.com" target="_blank">hoyMotor</a></li>
      <li><a title="Infoempleo" href="http://www.infoempleo.com" target="_blank">Infoempleo</a></li>
      <li><a title="La Gu&iacute;aTV" href="http://www.laguiatv.com" target="_blank">Gu&iacute;a TV</a></li>
      <li><a title="Autocasi&oacute;n" href="http://www.autocasion.com" target="_blank">Autocasion</a></li>
      <li><a title="11870" href="http://11870.com" target="_blank">11870.com</a></li>
      <li><a title="Mujerhoy" href="http://www.mujerhoy.com" target="_blank">Mujerhoy</a></li>
      <li><a title="Pisos.com" href="http://www.pisos.com" target="_blank">Pisos.com</a></li>
      <li><a title="Vadejuegos" href="http://www.vadejuegos.com" target="_blank">Vadejuegos</a></li>
      <li><a title="avanzaentucarrera" href="http://www.avanzaentucarrera.com" target="_blank">Avanzaentucarrera.com</a></li>
      <li><a title="Grada360" href="http://www.grada360.com" target="_blank">Grada360</a></li>
      <li><a title="Web M&oacute;vil de ideal.es" href="http://m.ideal.es/edicion/jaen" target="_blank">m.ideal.es</a></li>
    </ul>
  </div>
  </div>
</div>
<script language="javascript">
     MQT.moduloscabecera4();
</script>
<script language="javascript">
if (typeof(ids_noticias)!="undefined") {
setNumComentariosPortada(ids_noticias, 2);
}
</script>

<div id="publi2_Top1"><script language="JavaScript"> publiMJX('megabanner',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top2');</script>
<div id="publi2_Top2"><script language="JavaScript"> publiMJX('boton_superior',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top3');</script>
<div id="publi2_Top3"><script language="JavaScript"> publiMJX('boton_inferior',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top4');</script>
<div id="publi2_Top4"><script language="JavaScript"> publiMJX('cintillo_superior980x28',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top5');</script>
<div id="publi2_Top5"><script language="JavaScript"> publiMJX('boton_loc_superior',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top6');</script>
<div id="publi2_Top6"><script language="JavaScript"> publiMJX('recuerdo_corti_layer_nal',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top7');</script>
<div id="publi2_Top7"><script language="JavaScript"> publiMJX('robapaginas',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top8');</script>
<div id="publi2_Top8"><script language="JavaScript"> publiMJX('inters',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top9');</script>
<div id="publi2_Top9"><script language="JavaScript"> publiMJX('skyscraper_izq',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top10');</script>
<div id="publi2_Top10"><script language="JavaScript"> publiMJX('skyscraper_der',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top11');</script>
<div id="publi2_Top11"><script language="JavaScript"> publiMJX('megabanner_inf',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top12');</script>
<div id="publi2_Top12"><script language="JavaScript"> publiMJX('boton1_150x100',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top13');</script>
<div id="publi2_Top13"><script language="JavaScript"> publiMJX('boton2_150x100',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top14');</script>
<div id="publi2_Top14"><script language="JavaScript"> publiMJX('boton3_150x100',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top15');</script>
<div id="publi2_Top15"><script language="JavaScript"> publiMJX('boton4_150x100',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top16');</script>
<div id="publi2_Top16"><script language="JavaScript"> publiMJX('boton1_300x90',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top17');</script>
<div id="publi2_Top17"><script language="JavaScript"> publiMJX('boton2_300x90',2);</script></div>
  <script language="JavaScript">cargarPubliMethode('Top18');</script>
<script type="text/javascript">
  var LandRover = document.body.innerHTML.match(/\/motor\/land-rover\/novedades\/nuevo-range-rover/g);
  
  if (LandRover && "object"==typeof (LandRover) && LandRover.length >= 1) {
    var newDiv = $("<div></div>").attr("id",'tracking_publi_landrover_rangerover');
    var newScript = $( '<script><'+'/script>' );
    newScript.attr("id","agc").attr("type","text/javascript").attr("src","/includes/manuales/js/scriptLR.js");
    newDiv.append( newScript );
    $("body").append( newDiv );
  }
  </script>
  
<script type="text/javascript">
  if (voc_s1==""){cate101=voc_se;}
  else {cate101=voc_s1;};
  document.write('<scr'+'ipt src="http://www.wtp101.com/pixel?id=16302&pb=2100&rd=4&st='+ns_site+'&se='+voc_se+'&yr=&s=&ct=&ca='+cate101+'"></scr'+'ipt>');
</script>
<script type="text/javascript">

var _sf_async_config={uid:14289,domain:semDom};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>





<div id="publi2_fe84c458-a764-11de-b782-aad3633b59e0-0"><script language="JavaScript">publiMJX('boton_local1',2);</script></div>

  </div>

<!-- include final del código -->
</body>
</html>
<!-- El taglib del buscador recibe los siguientes parámetros:-->
<!-- serverName: url del servidor desde donde se realiza la llamada -->
<!-- serverPort: puerto por el que se va a realizar la llamada  -->
<!-- portalNoticia: potal para el que se está publicando la noticia  -->
<!-- noticiaTipo: fuente de la noticia  -->
<!-- medioEdicion: edicion del portal si este es multiedicion  -->
<!-- document: xml de la noticia con sus metadatos -->

