<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="http://andaluciainformacion.es/favicon.png" type="image/png" />
<meta name="viewport" content="width=1000">
<title>La UJA no descarta el curso 2013-14 para Medicina &middot; Jaén &middot; Andaluc&iacute;a Informaci&oacute;n</title>
<meta property="og:type" content="article">
<meta property="og:url" content="andaluciainformacion.es/jaen/231628/la-uja-no-descarta-el-curso-2013-14-para-medicina/">
<meta property="og:title" content="La UJA no descarta el curso 2013-14 para Medicina">
<meta name="og:description"  content="Trabajan en el modelo de titulación y confían en enviar a la Aneca la memoria de verificación  antes de que finalice este año">
<meta property="og:image" content="http://www.andaluciainformacion.es/cms/media/articulos/articulos-129919.jpg">
<meta name="medium" content="news" />
<meta name="description"  content="Trabajan en el modelo de titulación y confían en enviar a la Aneca la memoria de verificación  antes de que finalice este año" />
<link rel="image_src"  href="http://www.andaluciainformacion.es/cms/media/articulos/articulos-129919.jpg" />
<!-- JQUERY 1.7 -->
<script type="text/javascript" language="javascript" src="http://andaluciainformacion.es/web/includes/jquery/jquery-1.7.js"></script>
<!-- //JQUERY 1.7 -->

<!-- CSS -->
<meta http-equiv="cleartype" content="on">
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/css/reset.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/css/grid.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/css/base16.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/css/type16.css">

<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/css/estilos.css">

<link rel="stylesheet" type="text/css" href="http://andaluciainformacion.es/web/includes/elastislide/elastislide.css" />

<script type="text/javascript">
  document.createElement('nav');
  document.createElement('article');  
</script>
<!-- //CSS -->

<!-- SCROLL TO -->
<script type="text/javascript" language="javascript" src="http://andaluciainformacion.es/web/includes/jquery/jquery.scrollto.js"></script>
<!-- //SCROLL TO -->
<!-- TWITTER -->
<script src="http://andaluciainformacion.es/web/includes/jquery/min.tweet.3.js"></script>
<!-- TWITTER -->
<!-- DROPDOWN MENU -->
<script type="text/javascript" language="javascript" src="http://andaluciainformacion.es/web/includes/menu-dropdown/jquery.dropdownPlain.js"></script>
<link rel="stylesheet" href="http://andaluciainformacion.es/web/includes/menu-dropdown/estilos-dropdown.css" type="text/css" media="screen, projection"/>
<!--[if !IE]>
    <link rel="stylesheet" type="text/css" href="http://andaluciainformacion.es/web/includes/menu-dropdown/estilos-dropdown-ie.css" media="screen" />
<![endif]-->
<!-- //DROPDOWN MENU -->
<!-- TABS -->
<script src="http://andaluciainformacion.es/web/includes/tabs-pequenos/tabbed_pages.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/includes/tabs-pequenos/tabs-pequenos.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/includes/tabs-pequenos/tabs-grandes.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/includes/tabs-pequenos/tabs-especiales.css">
<!-- //TABS -->
<!-- //PAGINACION -->
<script src="http://andaluciainformacion.es/web/includes/jquery.quick.pagination.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
$("#tab1-pag").quickPagination({pageSize:"1"});
$("#tab2-pag").quickPagination({pageSize:"1"});
$("#tab3-pag").quickPagination({pageSize:"1"});
$("#tab4-pag").quickPagination({pageSize:"1"});
$("#tab5-pag").quickPagination({pageSize:"1"});
$("#tab6-pag").quickPagination({pageSize:"1"});
$("#tab7-pag").quickPagination({pageSize:"1"});
$("#tab-youtube-pag").quickPagination({pageSize:"1"});
$("#imagen_principal").quickPagination({pageSize:"1"});
});
</script>
<!-- //PAGINACION -->
<!-- SHOWCASE -->
<script src="http://andaluciainformacion.es/web/includes/showcase/jquery.aw-showcase.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" media="screen" href="http://andaluciainformacion.es/web/includes/showcase/showcase.css">
<script type="text/javascript">

$(document).ready(function(){
  $("#showcase").awShowcase({
    content_width:      600,
    content_height:     272,
    auto:         false
  });
  $("#showcase620").awShowcase({
    content_width:      620,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase380").awShowcase({
    content_width:      380,
    content_height:     240,
    auto:         false,
    arrows:         false
  });
  $("#showcase220").awShowcase({
    content_width:      220,
    content_height:     160,
    auto:         false,
    arrows:         false
  });
  $("#showcase600").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-13").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-14").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-15").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-16").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-17").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-18").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-19").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase600-youtube").awShowcase({
    content_width:      600,
    content_height:     288,
    auto:         false,
    arrows:         false
  });
  $("#showcase360").awShowcase({
    content_width:      360,
    content_height:     240,
    auto:         false,
    arrows:         false
  });
  $("#showcase200").awShowcase({
    content_width:      200,
    content_height:     160,
    auto:         false,
    arrows:         false
  });
});
</script>
<!-- //SHOWCASE -->
<!-- FANCYBOX -->
<script type="text/javascript" src="http://andaluciainformacion.es/cms/includes/jquery/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="http://andaluciainformacion.es/cms/includes/jquery/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script>
<!-- 

  $(document).ready(function() {

  /* This is basic - uses default settings */
  
  $("a#cabecero_blog").fancybox({
      'autoDimensions'    : false,
      'width'             : 400,
      'transitionIn'      : 'elastic',
      'transitionOut'     : 'elastic',
      'type'              : 'iframe', 
      'href'        : 'http://andaluciainformacion.es/web/modulos/blogs_independiente.php?id=35'
    });
  $("a.fancybox").fancybox({
      'autoDimensions'    : false,
      'width'             : 1000,
      'height'            : '90%',
      'transitionIn'      : 'elastic',
      'transitionOut'     : 'elastic',
      'type'              : 'iframe', 
      'padding'     : 0
    });

  });

  function hemeroteca_search(){
    
    if ($("#hemeroteca_radio").attr("checked")){  
    
      $.fancybox({
        'autoDimensions'    : false,
        'width'             : 1000,
        'height'            : '90%',
        'transitionIn'      : 'elastic',
        'transitionOut'     : 'elastic',
        'type'              : 'iframe', 
        'padding'     : 0,
        'href'        : 'http://andaluciainformacion.es/web/hemeroteca/?id_categoria=35&q=' + $("#q_search").val()
      });
    
    }else{
    
      $("#searchform").attr('onsubmit', '');
      $("#searchform").submit();
      $("#searchform").attr('onsubmit', 'hemeroteca_search(); return false;');
    } 
  
  }

-->
</script>
<!-- //FANCYBOX -->
<!-- CALENDARIO -->
<script src="http://andaluciainformacion.es/web/includes/datepicker/es.js"></script>
<script src="http://andaluciainformacion.es/web/includes/datepicker/datepicker.js"></script>
<link href="http://andaluciainformacion.es/web/includes/datepicker/datepicker.css" rel="stylesheet" type="text/css" />
<!-- //CALENDARIO -->
<!-- ELASTILIDE -->
<script type="text/javascript" src="http://andaluciainformacion.es/web/includes/elastislide/jquery.elastislide.js"></script>
<!-- ELASTILIDE -->
<!-- ADDTHIS SOCIAL Y BOOKMARK -->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f4e66321d1c5044"></script>

<script type="text/javascript">

$(document).ready(function(){
  
  $("a#bookmark").click(function(){
     var bookmarkUrl = this.href;
     var bookmarkTitle = this.title;
     
     if ($.browser.mozilla) // For Mozilla Firefox Bookmark
     { 
    window.sidebar.addPanel(bookmarkTitle, bookmarkUrl,"");
     } 
     else if($.browser.msie) // For IE Favorite
     { 
    window.external.AddFavorite( bookmarkUrl, bookmarkTitle); 
     }
     else if($.browser.opera ) // For Opera Browsers
     { 
    $(this).attr("href",bookmarkUrl);
    $(this).attr("title",bookmarkTitle);
    $(this).attr("rel","sidebar");
    $(this).click();
     } 
     else // for other browsers which does not support
     { 
      alert('Por favor, mantenga pulsado CTRL+D (CMD+D en mac) y pulse el botón de añadir a marcadores en el buscador.');
     }
     return false; 
  });
  
});
</script>
<!-- CODIGO PARA AD6MEDIA -->
<script type="text/javascript" src="http://c.ad6media.fr/l.js"></script>

<!-- //ADDTHIS SOCIAL Y BOOKMARK -->

<!-- Inicio Google Analytics-->
    
  <script type="text/javascript">
    
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16058982-1']);
  _gaq.push(['_setDomainName', 'andaluciainformacion.es']);
  _gaq.push(['_setSiteSpeedSampleRate', 5]);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();    
  
    </script>

<!-- Fin Google-->

</head>

<body>

<div id="alert-cookie" style="display: block;">
    <div>
        <p>Esta página utiliza cookies propias y de terceros. Navegando por esta web estás aceptando las condiciones de uso. <a href="http://andaluciainformacion.es/web/?c=7">Más información</a>.</p>
        <a href="#" id="close-alert">X</a>
    </div>
</div>
<script>
  
  function setCookie(c_name,value,exdays){
    var exdate=new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
    document.cookie=c_name + "=" + c_value;
  }

  $("#close-alert").click(function (){
    
    setCookie("politica_cookie", true, 31);
    $("#alert-cookie").remove();
    
  });
  
</script>

<div id="wrap-pagina" class="full-wrap" >
<!-- GRID -->
<div class="wrap-grid">
<div class="grid"></div>
</div>
<!-- //GRID -->
<!-- CABECERO -->
<div class="wrap-cabecero">
<div class="cabecero">
<div class="banner-cabecero">
<!-- INICIO ID 732 --><div class=banner-cebecero-2_3><object width=728 height=90><param name='movie' value='http://andaluciainformacion.es/cms/media/banners/banner-732.swf?clickTag=http://www.andaluciainformacion.es/web/modulos/banner_control_de_clicks.php?id=732'></param><param name='movie' value='http://andaluciainformacion.es/cms/media/banners/banner-732.swf'></param><embed src='http://andaluciainformacion.es/cms/media/banners/banner-732.swf?clickTag=http://www.andaluciainformacion.es/web/modulos/banner_control_de_clicks.php?id=732' type='application/x-shockwave-flash' allowfullscreen='true' width=728 height=90></embed></object></div><!-- FIN ID 732 --><!-- INICIO ID 607 --><div class=banner-cebecero-1_3><a href='http://www.andaluciainformacion.es/web/modulos/banner_control_de_clicks.php?id=607' target='_blank'><img src='http://andaluciainformacion.es/cms/media/banners/banner-607.gif' width='234' height='90'></a></div><!-- FIN ID 607 --></div>
<div class="logo-principal"><a border=0 href="http://andaluciainformacion.es/"><img src="http://andaluciainformacion.es/cms/media/portadas_cabeceros/jaen.png"/></a></div>
<div class="logo-secundario"><a href="http://andaluciainformacion.es/web/hemeroteca/?id_categoria=35" class="fancybox"><img src="http://andaluciainformacion.es/cms/media/portadas_mini_cabeceros/jaen.png" border=0 /></a></div>
<nav class="navegacion-pricipal">
  <ul>
      <li><a href="http://andaluciainformacion.es/andalucia/">Andaluc&iacute;a</a></li>
      <li><a href="http://andaluciainformacion.es/espana/">Espa&ntilde;a</a></li>
      <li><a href="http://andaluciainformacion.es/mundo/">Mundo</a></li>
      <li><a href="http://andaluciainformacion.es/economia/">Econom&iacute;a</a></li>
      <li><a href="http://andaluciainformacion.es/sociedad/">Sociedad</a></li>
      <li><a href="http://andaluciainformacion.es/cultura-ocio/">Cultura</a></li>
      <li><a href="http://andaluciainformacion.es/deportes/">Deportes</a></li>  
      <li><a id="cabecero_blog" class="iframe" href="http://andaluciainformacion.es/web/modulos/blogs_independiente.php?id=1">Blogs</a></li>  
  </ul>                                             
</nav>
<div class="buscador-noticias">
<form name="searchform" id="searchform" action="https://www.google.com/search" target="_blank" >  
  <span>BUSCADOR DE NOTICIAS:</span>
    <span><input id="hemeroteca_radio" type="radio" name="cx" value="partner-pub-0998692745552493:1112950531" checked />&nbsp;Hemeroteca</span>
    <span><input type="radio" name="cx" value="partner-pub-0998692745552493:4362328559" />&nbsp;Google </span>
    <input type="text" name="q" id="q_search" placeholder="Palabra clave..." class="field-busqueda" />
    <input type="submit" class="bot-blanco" value="BUSCAR" />
</form>
</div>
<nav class="navegacion-secundaria">
  <ul class="dropdown">
              <li style="width:49px; float:right; background:url(http://andaluciainformacion.es/web/img/bg/bg-nav-plus.png); ">
          <a href="#" class="mayusculas" onclick="return false"><span class="li-televisiones" style="display:block; height:16px; margin-left:5px; width:16px; background:url(http://andaluciainformacion.es/web/img/iconos/ico-plus.png) left center no-repeat; padding-left:34px; "></span></a>
          <ul class="sub_menu" style="margin-left:-153px">
                            <li><a href="http://andaluciainformacion.es/diputacion-al-dia/">Diputación de Cádiz al día</a></li>
                <li><a href="http://andaluciainformacion.es/cadiz-cultura/">Cádiz todo el año</a></li>
                <li><a href="http://andaluciainformacion.es/el-gallinero/">El Gallinero</a></li>
                <li><a href="http://andaluciainformacion.es/el-carnaval-colombino/">El Carnaval Colombino</a></li>
                <li><a href="http://andaluciainformacion.es/25-aniversario/">25 aniversario</a></li>
                <li><a href="http://finanzas.andaluciainformacion.es/">COMPARADOR FINANCIERO</a></li>
        <li><a href="http://comparadorenergia.andaluciainformacion.es/">Comparador de Energía</a></li>
        <li><a href="http://compras.andaluciainformacion.es/">Canal de compras</a></li>
            </ul>
        </li>
      <li style="width:200px; float:right; background:url(http://andaluciainformacion.es/web/img/bg/bg-nav-derecha.png); ">
          <a href="#" class="mayusculas" onclick="return false"><span class="li-televisiones" style="display:block; height:16px; margin-left:60px; width:34px; background:url(http://andaluciainformacion.es/web/img/iconos/ico-ondaluz.png) left center no-repeat; padding-left:34px; ">Televisiones</span></a>
          <ul class="sub_menu">
                <li><a href="http://andaluciainformacion.es/ondaluz-cadiz/">Ondaluz Cádiz <span style='color:red'>en vivo</span></a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-jaen/">Ondaluz Jaén</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-jerez/">Ondaluz Jerez <span style='color:red'>en vivo</span></a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-la-isla/">Ondaluz La Isla</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-sierra">Ondaluz Sierra</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-costa-noroeste/">Ondaluz Costa Noroeste</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-ronda/">Ondaluz Ronda</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-estepona/">Ondaluz Estepona</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-malaga/">Ondaluz Málaga</a></li>
                <li><a href="http://andaluciainformacion.es/ondaluz-marbella/">Ondaluz Marbella</a></li>
            </ul>
        </li>
            <li class="ediciones"><span>EDICIONES:</span></li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Almería</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/almeria" class="mayusculas">Almería</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Cádiz</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/arcos" class="mayusculas">Arcos</a></li>
              
              <li><a href="http://andaluciainformacion.es/barbate" class="mayusculas">Barbate</a></li>
              
              <li><a href="http://andaluciainformacion.es/cadiz" class="mayusculas">Cádiz</a></li>
              
              <li><a href="http://andaluciainformacion.es/campo-de-gibraltar" class="mayusculas">Campo de Gibraltar</a></li>
              
              <li><a href="http://andaluciainformacion.es/chiclana" class="mayusculas">Chiclana</a></li>
              
              <li><a href="http://andaluciainformacion.es/conil" class="mayusculas">Conil</a></li>
              
              <li><a href="http://andaluciainformacion.es/el-puerto" class="mayusculas">El Puerto</a></li>
              
              <li><a href="http://andaluciainformacion.es/jerez" class="mayusculas">Jerez</a></li>
              
              <li><a href="http://andaluciainformacion.es/medina" class="mayusculas">Medina</a></li>
              
              <li><a href="http://andaluciainformacion.es/rota" class="mayusculas">Rota</a></li>
              
              <li><a href="http://andaluciainformacion.es/san-fernando" class="mayusculas">San Fernando</a></li>
              
              <li><a href="http://andaluciainformacion.es/sanlucar" class="mayusculas">Sanlúcar</a></li>
              
              <li><a href="http://andaluciainformacion.es/vejer" class="mayusculas">Vejer</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Córdoba</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/cordoba" class="mayusculas">Córdoba</a></li>
              
              <li><a href="http://andaluciainformacion.es/puente-genil" class="mayusculas">Puente Genil</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Granada</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/baza" class="mayusculas">Baza</a></li>
              
              <li><a href="http://andaluciainformacion.es/granada" class="mayusculas">Granada</a></li>
              
              <li><a href="http://andaluciainformacion.es/guadix" class="mayusculas">Guadix</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Huelva</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/costa-occidental" class="mayusculas">Costa Occidental</a></li>
              
              <li><a href="http://andaluciainformacion.es/cuenca-minera" class="mayusculas">Cuenca Minera</a></li>
              
              <li><a href="http://andaluciainformacion.es/huelva" class="mayusculas">Huelva</a></li>
              
              <li><a href="http://andaluciainformacion.es/punta-umbria" class="mayusculas">Punta Umbría</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Jaén</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/alcala-la-real" class="mayusculas">Alcalá la Real</a></li>
              
              <li><a href="http://andaluciainformacion.es/jaen" class="mayusculas">Jaén</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Málaga</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/antequera" class="mayusculas">Antequera</a></li>
              
              <li><a href="http://andaluciainformacion.es/estepona" class="mayusculas">Estepona</a></li>
              
              <li><a href="http://andaluciainformacion.es/malaga" class="mayusculas">Málaga</a></li>
              
              <li><a href="http://andaluciainformacion.es/marbella" class="mayusculas">Marbella</a></li>
              
              <li><a href="http://andaluciainformacion.es/ronda" class="mayusculas">Ronda</a></li>
              
              <li><a href="http://andaluciainformacion.es/torremolinos" class="mayusculas">Torremolinos</a></li>
                  </ul>
        </li>
            
      <li><a href="#" class="mayusculas" onclick="return false">Sevilla</a>
          <ul class="sub_menu">
              
              <li><a href="http://andaluciainformacion.es/ecija" class="mayusculas">Écija</a></li>
              
              <li><a href="http://andaluciainformacion.es/sevilla" class="mayusculas">Sevilla</a></li>
                  </ul>
        </li>
        </ul>
</nav>
<div class="links-breadcrumbs">
  <ul>
      <li><a href="http://andaluciainformacion.es/web/hemeroteca/?id_categoria=35" class="fancybox" style="background-image:url(http://andaluciainformacion.es/web/img/iconos/ic-pdf.png)"></a></li>
      <li><a href="#" id="bookmark" style="background-image:url(http://andaluciainformacion.es/web/img/iconos/ic-favorito.gif)"></a></li>
      <li><a onclick="$('#newsletter_form').ScrollTo();" style="cursor:pointer; background-image:url(http://andaluciainformacion.es/web/img/decoracion/ico-newsletter.png)"></a></li>     <li><a target="_blank" href="https://www.facebook.com/vivajaenfb" style="background-image:url(http://andaluciainformacion.es/web/img/iconos/ic-facebook.gif)"></a></li>     <li><a target="_blank" href="http://twitter.com/#!/VivaJaen" style="background-image:url(http://andaluciainformacion.es/web/img/iconos/ic-twitter.gif)"></a></li>     <li><a target="_blank" href="http://andaluciainformacion.es/rss/?i=35" style="background-image:url(http://andaluciainformacion.es/web/img/iconos/ic-rss.gif); padding:0px 8px; border-left:1px solid #cac6a3;border-right:1px solid #cac6a3;"></a></li>
    <li><strong>Domingo</strong>, 15 de diciembre de 2013</li>
    </ul>
</div>
<nav class="breadcrumbs">
<strong>Est&aacute;s en:</strong> <a href="http://andaluciainformacion.es/">Informaci&oacute;n</a> > <a href="http://andaluciainformacion.es/jaen">Jaén</a>> La UJA no descarta el curso 2013-14 para Medicina </nav>
</div>
</div>
<!-- //CABECERO -->
<!-- CENTRO -->


<script type="text/javascript" src="http://andaluciainformacion.es/web/includes/jquery/jquery.PrintArea.js_4.js"></script>
<script>
function imprimir(){
$("#comentarios_oculto").html($("#comentarios_bloque").html());
$("#container_text").printArea();
}
</script>
<div id="container_text" style="display:none;">
    <div id="antetitulo_oculto">Jaén | Universidad</div>
    <div id="imagen_oculto" style="margin-bottom:20px">
          <img src="http://andaluciainformacion.es/cms/media/articulos/articulos-129919.jpg" width="400" />
      </div>
    <div id="titulo_oculto" style="font-size:28px; line-height:32px">La UJA no descarta el curso 2013-14 para Medicina</div>
    <div id="datos_oculto">Aurora Guzmán / Agencias &middot;  12/06/2012 21:37</div>
    <div id="texto_oculto"><p> El curso 2013-2014 es el propuesto para iniciar la implantaci&oacute;n del Grado de Medicina en la Universidad de Ja&eacute;n (UJA). As&iacute; lo ha aclarado el rector de la UJA, Manuel Parras, asegurando que&nbsp; los plazos de tiempo son &ldquo;apurados&rdquo;.</p> <p> En la actualidad, la Comisi&oacute;n&nbsp; trabaja&nbsp; en el dise&ntilde;o de modelo de titulaci&oacute;n y conf&iacute;a en poder en enviar a la a la Agencia Nacional de Evaluaci&oacute;n de la Calidad y Acreditaci&oacute;n (Aneca) la memoria de verificaci&oacute;n&nbsp; antes de que acabe este a&ntilde;o.</p> <p> Parras asegura que se quiere crear un Grado de Medicina &ldquo;muy vinculado a los buenos&nbsp; profesionales que ejercen en Ja&eacute;n y su &aacute;rea m&aacute;s cercana&rdquo;.</p> <p> Por otra parte, ha considerado que el retraso que sufre el futuro edificio de I+D+i, TIC y emprendimiento que debe levantarse en el campus universitario de Las Lagunillas y que albergar&iacute;a la Facultad de Medicina (por lo menos durante los primeros cursos, a la espera de la construcci&oacute;n de una sede espec&iacute;fica) no tiene por qu&eacute; ser un obst&aacute;culo.</p> <p> A este respecto, el rector aclara que &ldquo;en sus inicios se puede hacer en instalaciones de la Universidad ya existentes y en centros hospitalarios de la provincia en tanto queremos un tipo de Medicina vinculado a los profesionales, muy buenos, con los que cuenta el sistema sanitario jienense&rdquo;.</p> <p> Por todo ello, Parras Rosa no cambia las estimaciones de echar a andar el primer curso del Grado de Medicina en 2013-14, uno despu&eacute;s de lo que en un principio se hab&iacute;a apuntado.</p> <p> Y es que no es una situaci&oacute;n f&aacute;cil. El rector asegura al respecto,&nbsp; que se trata de un asunto &ldquo;complejo&rdquo;, puesto que, adem&aacute;s, es la primera vez que la Universidad jiennense remitir&aacute; una memoria de verificaci&oacute;n de Medicina. Ante estas circunstancias, Manuel Parras recuerda que las acciones necesarias presentan sus tr&aacute;mites y plazos correspondientes. &ldquo;Seguimos proponiendo esa fecha, aunque vamos apurados&quot;, ha reconocido el rector.</p>     </div>
    <div id="comentarios_titulo_oculto">Comentarios:</div>
    <div id="comentarios_oculto">
    </div>
</div>
<style>
.simplePagerNav a{
  color:#666 !important;
}
</style>
<div class="wrap-centro">
<div class="pagina-completa">
<div class="blanco-pagina">
<!-- INICIO ID 374 --><div class=banner-izquierda><script type="text/javascript"><!--
google_ad_client = "ca-pub-0998692745552493";
/* Skycraper ancho 160x600 */
google_ad_slot = "8606871943";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div><!-- FIN ID 374 --><!-- INICIO ID 374 --><div class=banner-derecha><script type="text/javascript"><!--
google_ad_client = "ca-pub-0998692745552493";
/* Skycraper ancho 160x600 */
google_ad_slot = "8606871943";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div><!-- FIN ID 374 -->
<!------ ZONA ARTICULO ------------------>
<div class="grid_12 alpha">

<!---------- COLUMNA - IZQUIERDA -------->
<div class="grid_2 alpha">
  <a class="bot-art-grand" id="print" onclick="imprimir(); return false;" href="#">IMPRIMIR</a>
<!-- SMARTADDON BEGIN -->
<script type="text/javascript">
(function() {
var s=document.createElement('script');s.type='text/javascript';s.async = true;
s.src='http://s1.smartaddon.com/share_addon.js';
var j =document.getElementsByTagName('script')[0];j.parentNode.insertBefore(s,j);
})();
</script>
  <a href="http://www.smartaddon.com/?share" title="Tell a Friend" onclick="return sa_tellafriend()" class="bot-art-grand" id="enviar" style="margin-right:0px;">ENVIAR</a>
<!-- SMARTADDON END -->
  <a class="bot-art-peq addthis_button" id="recom" style="position:relative; top:auto; right:auto; height:auto">RECOMENDAR</a>
  <a class="bot-art-peq" id="coment" href="#comentarios">COMENTAR</span></a>
    <div class="sep"></div>
    
    <div class="publi-columna">PUBLICIDAD:
<!-- INICIO ID 84 --><!--  ADVERTISEMENT TAG 120 x 600, DO NOT MODIFY THIS CODE -->
<script type="text/javascript">
<!--
document.write('<iframe marginheight="0px" marginwidth="0px" frameborder="0" scrolling="no" width="120" height="600" src="http://optimized-by.simply.com/play.html?code=140591;66185;61713;0&from='+escape(document.referrer)+'"></iframe>');
// -->
</script><!-- FIN ID 84 --><!-- separador --><div class='sep-limpio' style='float:left'></div><!-- INICIO ID 6 --><!--  ADVERTISEMENT TAG 120 x 600, DO NOT MODIFY THIS CODE -->
<script type="text/javascript">
<!--
document.write('<iframe marginheight="0px" marginwidth="0px" frameborder="0" scrolling="no" width="120" height="600" src="http://optimized-by.simply.com/play.html?code=140591;66185;61713;0&from='+escape(document.referrer)+'"></iframe>');
// -->
</script><!-- FIN ID 6 -->     </div>
</div>
<!---------- COLUMNA - IZQUIERDA -------->


<!---------- COLUMNA - CENTRO + DERECHA -------->
<div class="grid_10 omega">

<!---------- NOTICIA -------->
<div id="area_impresion" class="grid_6 alpha">
<article>
        <div id="antetitulo_visible" class="antetitulo-articulo"><span>Jaén | Universidad</span></div>
        <h1 id="titulo_visible" class="tit-articulo" style="font-size:28px; line-height:32px">La UJA no descarta el curso 2013-14 para Medicina</h1>

           <!-- SHOWCASE -->
            <div id="imagen_principal" class="foto" style="height:auto">
                        <!-- slide -->
          <div class="imagen-slide" >
            <div class="showcase-content">
              <div style="background:url(http://andaluciainformacion.es/cms/media/articulos/articulos-129919-460x318.jpg); width:100%; height:318px; background-position:center center; background-repeat:no-repeat"></div>
            </div>
            <div class="foto-caption"><span>
            El campus de Las Lagunillas. &middot;  Viva Jaén.       
            </span></div>             
          </div>
                 </div>
        <!-- SHOWCASE --> 
        
    <div class="datos-articulo">
      <p class="datos-redaccion">Aurora Guzmán / Agencias<br />     12/06/2012 21:37    </p>
    
        <!-- STAR RATING -->
            <!-- demo page js -->
            <script type="text/javascript" src="http://andaluciainformacion.es/web/includes/star-rating/jquery-ui.custom.min.js?v=1.8"></script>
            <!-- Star Rating widget stuff here... -->
            <script type="text/javascript" src="http://andaluciainformacion.es/web/includes/star-rating/jquery.ui.stars.js?v=3.0.0b38"></script>
            <link rel="stylesheet" type="text/css" href="http://andaluciainformacion.es/web/includes/star-rating/crystal-stars.css?b38"/>
        
            <script type="text/javascript">
                $(function(){
          $(".datos-votacion").show();
                    $("#rat").children().not(":radio").hide();
                    
                    // Create stars
                    $("#rat").stars({
                        cancelShow: false,
                        callback: function(ui, type, value)
                        {
                            $("#loader").show();
                            $("#rat").fadeOut(function() //Note: IE sucks when fading 32bit PNG!
                            {

              $("#rate").attr("disabled", false);
                $.ajax({  
                  type: "POST",  
                  url: "http://andaluciainformacion.es/web/modulos/valoracion.php",  
                  data: $("#rat").serialize(),  
                  success: function (data){
                      //alert(data);
                      $("#loader").html("Voto enviando. Gracias.");
                
                  }
                });


                            });
                        }
                    });
                });
            </script>
            
        <!-- //STAR RATING -->
        
        <div class="datos-votacion" style="display:none">
        <div id="container">
      
      <form id="rat" action="http://andaluciainformacion.es/web/modulos/valoracion.php" method="post">
        
                    <input type="radio" name="rate" value="1"  title="MUY MAL ARTÍCULO"   />
                    <input type="radio" name="rate" value="2"  title="MAL ARTÍCULO"   />
                    <input type="radio" name="rate" value="3"  title="REGULAR"   />
                    <input type="radio" name="rate" value="4" checked title="BUEN ARTÍCULO"   />
                    <input type="radio" name="rate" value="5"  title="MUY BUEN ARTÍCULO"   />
                    <input type="hidden" name="id_articulo" value="231628" autocomplete="off" />
          <input type="submit" value="Rate it!" />

      </form>

      <div id="loader"><div style="padding-top: 5px;">Enviando su voto...</div></div>

    </div>          
        </div>
    </div>
        <div id="texto_visible" class="texto-articulo">
        <p> El curso 2013-2014 es el propuesto para iniciar la implantaci&oacute;n del Grado de Medicina en la Universidad de Ja&eacute;n (UJA). As&iacute; lo ha aclarado el rector de la UJA, Manuel Parras, asegurando que&nbsp; los plazos de tiempo son &ldquo;apurados&rdquo;.</p> <p> En la actualidad, la Comisi&oacute;n&nbsp; trabaja&nbsp; en el dise&ntilde;o de modelo de titulaci&oacute;n y conf&iacute;a en poder en enviar a la a la Agencia Nacional de Evaluaci&oacute;n de la Calidad y Acreditaci&oacute;n (Aneca) la memoria de verificaci&oacute;n&nbsp; antes de que acabe este a&ntilde;o.</p> <p> Parras asegura que se quiere crear un Grado de Medicina &ldquo;muy vinculado a los buenos&nbsp; profesionales que ejercen en Ja&eacute;n y su &aacute;rea m&aacute;s cercana&rdquo;.</p> <p> Por otra parte, ha considerado que el retraso que sufre el futuro edificio de I+D+i, TIC y emprendimiento que debe levantarse en el campus universitario de Las Lagunillas y que albergar&iacute;a la Facultad de Medicina (por lo menos durante los primeros cursos, a la espera de la construcci&oacute;n de una sede espec&iacute;fica) no tiene por qu&eacute; ser un obst&aacute;culo.</p> <p> A este respecto, el rector aclara que &ldquo;en sus inicios se puede hacer en instalaciones de la Universidad ya existentes y en centros hospitalarios de la provincia en tanto queremos un tipo de Medicina vinculado a los profesionales, muy buenos, con los que cuenta el sistema sanitario jienense&rdquo;.</p> <p> Por todo ello, Parras Rosa no cambia las estimaciones de echar a andar el primer curso del Grado de Medicina en 2013-14, uno despu&eacute;s de lo que en un principio se hab&iacute;a apuntado.</p> <p> Y es que no es una situaci&oacute;n f&aacute;cil. El rector asegura al respecto,&nbsp; que se trata de un asunto &ldquo;complejo&rdquo;, puesto que, adem&aacute;s, es la primera vez que la Universidad jiennense remitir&aacute; una memoria de verificaci&oacute;n de Medicina. Ante estas circunstancias, Manuel Parras recuerda que las acciones necesarias presentan sus tr&aacute;mites y plazos correspondientes. &ldquo;Seguimos proponiendo esa fecha, aunque vamos apurados&quot;, ha reconocido el rector.</p>         </div>
</article>


<div class="social-articulo">

<!-- Start Shareaholic Sexybookmark HTML-->

<div class="shr_class shareaholic-show-on-load" style="float:left">
</div>

<!-- End Shareaholic Sexybookmark HTML -->
<!-- Start Shareaholic Sexybookmark script -->

<script type="text/javascript">
  var SHRSB_Settings = {"shr_class":{"src":"http://andaluciainformacion.es/web/includes/shareaholic","link":"http://andaluciainformacion.es/jaen/231628/la-uja-no-descarta-el-curso-2013-14-para-medicina/","service":"5,7,33,88,304,78,219","apikey":"6ffe2cbf142c45bd4cd03b01ec46b8658","localize":true,"shortener":"google","shortener_key":"","designer_toolTips":true,"twitter_template":"${title} - ${short_link} - @andaluciainf"}};
  </script>
 
<script type="text/javascript">
       (function() {
            var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
            sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
        })();
        </script>
<!-- End Shareaholic Sexybookmark script -->
</div>

<!-- separador --><div class="sep" style="float:left;height:18px;"></div>

<!-- INICIO ID 185 --><div class=banner-articulo><script type="text/javascript" src="http://a.ligatus.com/?ids=34970&t=js"></script></div><!-- FIN ID 185 --><!-- separador --><div class='sep' style='float:left'></div><div>
</div>
<script>

  function comentario_enviar(){
  
    var ok=true;
    var error="";
    if ($("#comentario_nombre").val().length == 0){ ok=false; error= "Por favor, rellene todos los campos del formulario y acepte la política de privacidad para enviar el comentario"; }
    if ($("#comentario_e_m_a_i_l").val().length == 0){  ok=false; error= "Por favor, rellene todos los campos del formulario y acepte la política de privacidad para enviar el comentario"; }
    if ($("#comentario_comentario").val().length == 0){ ok=false; error= "Por favor, rellene todos los campos del formulario y acepte la política de privacidad para enviar el comentario"; }
    if (!document.comment_form.confirmar.checked){  ok=false; error= "Por favor, rellene todos los campos del formulario y acepte la política de privacidad para enviar el comentario"; }
    
    if (ok){
      $('#formulario_comentarios').hide();
      $('#comentario_confirmar').show();
  
      $.ajax({  
        type: "POST",  
        url: "http://andaluciainformacion.es/web/modulos/comentario_crear.php",  
        data: $("#comment_form").serialize(),  
        success: function (data){
          
          $('#comentario_enviando').hide();
          $('#comentario_respuesta_container').html(data);
          $('#comentario_respuesta').fadeIn(700);
      
        },
        error: function(request,error) {
            if (error == "timeout") {
  
            $('#comentario_enviando').hide();
            $('#comentario_respuesta_container').html(error);
            $('#comentario_respuesta').fadeIn(700);
  
            }
            else {
             
            $('#comentario_enviando').hide();
            $('#comentario_respuesta_container').html("La aplicación no recibe respuesta del servidor. Pero, eso no quiere decir que no haya sido creado correctamente. Por favor recargue el artículo y compruebe si su comentario ha sido incluido. Muchas gracias y disculpe las molestias.");
            $('#comentario_respuesta').fadeIn(700);
      
            }
          } 
      });
    }else{
    alert(error);
    }
  
  }

  function comentario_denunciar(id_comentario){
  
    $("#a_denunciar_" + id_comentario).hide();
    $("#a_denunciar_" + id_comentario).after("<a>COMENTARIO DENUNCIADO</a>")
    var url = "http://andaluciainformacion.es/web/modulos/comentario_denunciar.php?id_comentario=" + id_comentario;
    $.ajax({  url: url });
  
  }

</script>
<a name="comentarios"></a>
<div class="subcolumna-blanca" style="width:100%;">
  <div class="wrap-titulo">
      <div class="titulo-subcol-blanca" style="font-size:18px;">COMENTAR ESTA NOTICIA</div>
    </div>
    <div id="comentarios_bloque">
    </div>
<!-- form - comentario -->
<div id="formulario_comentarios">
<form id='comment_form' name="comment_form" action="#" method="post" onsubmit="comentario_enviar(); return false">
<input name="id_articulo" type="hidden" value="231628" autocomplete="off" />
<input name="s" type="hidden" value="0" autocomplete="off" />
<table width="380" border="0" cellspacing="0" cellpadding="0" class="form-comentario">
  <tr>
    <td  valign="top" class="form-label">Comentario:</td>
    <td colspan="2"><textarea name="comentario" id="comentario_comentario" cols="" rows="" class="field-comentario" style="height:64px;"></textarea></td>
  </tr>
  <tr>
    <td valign="top" class="form-label">Nombre:</td>
    <td colspan="2"><input name="nombre" id="comentario_nombre" type="text" class="field-comentario" autocomplete="off" /></td>
  </tr>
  <tr>
    <td  valign="top" class="form-label">Email:</td>
    <td colspan="2"><input name="e_m_a_i_l" id="comentario_e_m_a_i_l" type="text" class="field-comentario" autocomplete="off"/></td>
  </tr>
  <tr>
    <td  valign="top" class="form-label">&nbsp;</td>
    <td style="color:#6386B5;"><br /><input type="checkbox" name="confirmar" id="comentario_confirmar" autocomplete="off" /><label for="comentario_confirmar">Acepto las <a href="http://andaluciainformacion.es/web/?c=4" target="_blank" style="font-weight:bold;">condiciones de uso</a></label></td>
    <td><br /><input type="submit" class="bot-blanco" value="COMENTAR" style="width:140px;float:right;" /></td>
  </tr>
</table>
</form>
</div>
<div id="comentario_enviando" style=display:none>
<table width="380" border="0" cellspacing="0" cellpadding="0" class="form-comentario">
  <tr>
    <td valign="top" class="form-label"></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" class="form-label"></td>
    <td colspan="2" class="form-label" style="text-align:left">Enviando...</td>
  </tr>
  <tr>
    <td valign="top" class="form-label"></td>
    <td colspan="2"></td>
  </tr>
</table>
</div>
<div id="comentario_respuesta" style=display:none>
<table width="380" border="0" cellspacing="0" cellpadding="0" class="form-comentario">
  <tr>
    <td valign="top" class="form-label"></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td valign="top" class="form-label"></td>
    <td colspan="2" class="form-label" style="text-align:left" id="comentario_respuesta_container"></td>
  </tr>
  <tr>
    <td valign="top" class="form-label"></td>
    <td colspan="2"></td>
  </tr>
</table>
</div>

<!-- //form - comentario -->
    
<div class="form-leyenda">
  <p><span>La dirección IP de su ordenador quedará registrada al realizar el comentario de cara a su identificación por si fuese necesario.</span></p>
    <p><strong>RECUERDE:</strong><br />
- Estas opiniones pertenecen a los lectores y no a andaluciainformacion.es<br />
- No está permitido hacer comentarios injuriosos o contrarios a la libertad de expresión.<br />
- andaluciainformacion.es se reserva el derecho de eliminar comentarios inadecuados.<br />
- No dude en avisar de posibles comentarios inadecuados.<br />
- Los comentarios podrán ser reproducidos textualmente en los periódicos del grupo.</p>
</div>    
    
    
</div>

<!-- BANNER ARTICULO BAJO COMENTARIOS -->

  <div id="plista_widget_belowArticle"></div>
  
  <script type="text/javascript" src="http://static.plista.com/andaluciainformacion.es_v1.js"></script>
  <script type="text/javascript">
  
    // take care to escape quotes and line breaks
    PLISTA.items.push({
      objectid: "RrelZqK4sl", //unique ID, alphanumeric
      title: "La UJA no descarta el curso 2013-14 para Medicina",
      text: "Trabajan en el modelo de titulación y confían en enviar a la Aneca la memoria de verificación  antes de que finalice este año", //up to 255 characters
      url: "http://andaluciainformacion.es/jaen/231628/la-uja-no-descarta-el-curso-2013-14-para-medicina/",
            img: "http://www.andaluciainformacion.es/cms/media/articulos/articulos-129919.jpg",
            created_at: "1387147653", //UNIX Timestamp
      category: "news"//optional
    });
  
    PLISTA.partner.init();
  
  </script>


</div>
<!---------- //NOTICIA -------->



<!---------- COLUMNA - DERECHA -------->
<div class="grid_4 omega col-derecha">







    <article class="subcolumna-blanca">
        <div class="wrap-titulo">
            <div class="titulo-subcol-blanca">Últimas noticias</div>
        </div>          
<!-- Tabs peques 1 -->
<div class="grid_4 alpha">
    <div id="tabmenu-ultimas">
            <div class="tabon" rel="tab0-ul"><a href="#"><strong>Jaén</strong></a></div>
        <div class="taboff" rel="tab1-ul"><a href="#"><strong>Andaluc&iacute;a</strong></a></div>
            <div class="taboff" rel="tab2-ul"><a href="#"><strong>Espa&ntilde;a</strong></a></div>  
        <div class="taboff" rel="tab3-ul"><a href="#"><strong>Mundo</strong></a></div>
    </div>
    
        <div id="tab0-ul" class="tabs-ul tabshow">
        <ul class="lista-sin-enum">
            <li>Los precios suben un 0,3% en noviembre en Andalucía y la tasa interanual se sitúa en el 0,2%</li>
<li>El Palacio Provincial de la Diputación estrena iluminación especial de Navidad para cerrar el año del Bicentenario</li>
<li>Ayuntamiento y Junta constituyen una comisión para "erradicar" en Jaén la "lacra" del absentismo escolar</li>
<li>El porcentaje de hogares extremeños que tienen su vivienda con pagos pendientes pasa del 17,6% en 2001 al 28,8 en 2011</li>
<li>Apoyo unánime de la CEA a González de Lara como relevo de Herrero</li>
        </ul>
    </div>
    
    <div id="tab1-ul" class="tabs-ul tabhide">
        <ul class="lista-sin-enum">
            <li>PSOE-A destaca "estabilidad" del Gobierno de Díaz en sus primeros cien días</li>
<li>Evoluciona favorablemente la menor ingresada por una intoxicación alimenticia en Alcalá</li>
<li>IU acusa al Gobierno de "dejar vendidas" a todas las familias andaluzas en problemas con su hipoteca</li>
<li>Liberado un niño de siete años tras quedar atrapado con la puerta de un garaje en Santiponce</li>
<li>El Parlamento celebrará este miércoles y jueves el debate final de los Presupuestos andaluces de 2014</li>
        </ul>
    </div>
        <div id="tab2-ul" class="tabs-ul tabhide">
        <ul class="lista-sin-enum">
            <li>Interior: Ley de seguridad ciudadana mejora el derecho de manifestación</li>
<li>Urkullu pide una relación "mucho más profunda y fluida" con Rajoy</li>
<li>Campaña internacional del Govern para pedir apoyo para la consulta</li>
<li>Fallece el magistrado emérito del TS José Jiménez Villarejo</li>
<li>Sortu pide un "amplio acuerdo" en Euskal Herria por el derecho a decidir</li>
        </ul>
    </div>
    
    <div id="tab3-ul" class="tabs-ul tabhide">
        <ul class="lista-sin-enum">
            <li>Bachelet arrasa en la segunda vuelta de las elecciones presidenciales</li>
<li>El norte de Gaza, "área de desastre" por las inundaciones</li>
<li>Los ucranianos protestan coincidiendo con la suspensión de negociaciones</li>
<li>Un bombardeo de helicópteros assadistas deja 36 muertos</li>
<li>Los restos de 'Madiba' reposan ya en la aldea donde pasó su infancia</li>
        </ul>
    </div>
</div>
<!-- Separador --><div class="sep"></div><!-- //Separador --></article>          


    <article class="subcolumna-blanca">
        <div class="wrap-titulo">
            <div class="titulo-subcol-blanca">Las + destacadas de Jaén</div>
        </div>          
<!-- Tabs peques 2 -->
<div class="grid_4 alpha">
    <div id="tabmenu">
        <div class="tabon" rel="tab1"><a href="#1"><strong>+ LEIDAS</strong></a></div>
        <div class="taboff" rel="tab2"><a href="#1"><strong>+ COMENTADAS</strong></a></div> 
        <div class="taboff" rel="tab3"><a href="#1"><strong>+ VOTADAS</strong></a></div>
    </div>
    
    <div id="tab1" class="tabs-ds tabshow">
        <ol class="lista-enum">
        
            <li><a class="item-1" href="http://andaluciainformacion.es/jaen/226283/manolo-garcia-aplaza-su-concierto-en-jaen-tras-ser-operado-de-apendicitis">Manolo García aplaza su concierto en Jaén tras ser operado de apendicitis</a></li>
        
            <li><a class="item-2" href="http://andaluciainformacion.es/jaen/224744/iu-pide-que-el-pleno-censure-a-varela-por-las-cartas-de-la-piscina">IU pide que el pleno  censure a Varela ?por las cartas de la piscina?</a></li>
        
            <li><a class="item-3" href="http://andaluciainformacion.es/jaen/309759/la-primera-usuaria-de-la-paht-consigue-dos-anos-de-carencia">La primera usuaria de la PAHT consigue dos años de carencia</a></li>
        
            <li><a class="item-4" href="http://andaluciainformacion.es/jaen/309759/la-primera-usuaria-de-la-paht-consigue-dos-anos-de-carencia">La primera usuaria de la PAHT consigue dos años de carencia</a></li>
        
            <li><a class="item-5" href="http://andaluciainformacion.es/jaen/301579/zarpazo-hacia-el-play-off">Zarpazo hacia el ‘play off’</a></li>
        
            <li><a class="item-6" href="http://andaluciainformacion.es/jaen/315364/objetivo-cumplido-marcar">Objetivo cumplido: marcar</a></li>
        
            <li><a class="item-7" href="http://andaluciainformacion.es/jaen/363863/mas-de-cien-euros-por-la-clausula-suelo">Más de cien euros por la cláusula suelo</a></li>
        
            <li><a class="item-8" href="http://andaluciainformacion.es/jaen/364083/a-lo-forrest-gump-">A lo Forrest Gump </a></li>
        
            <li><a class="item-9" href="http://andaluciainformacion.es/jaen/335466/la-nueva-etapa-de-la-junta">La nueva etapa de la Junta</a></li>
        
            <li><a class="item-10" href="http://andaluciainformacion.es/jaen/364036/hallan-muertos-dos-linces-atropellados-en-carreteras-de-jaen-y-cordoba">Hallan muertos dos linces atropellados en carreteras de Jaén y Córdoba</a></li>
                </ol>
    </div>
    
    <div id="tab2" class="tabs-ds tabhide">
        <ol class="lista-enum">
        
            <li><a class="item-1" href="http://andaluciainformacion.es/jaen/226283/manolo-garcia-aplaza-su-concierto-en-jaen-tras-ser-operado-de-apendicitis">Manolo García aplaza su concierto en Jaén tras ser operado de apendicitis</a></li>
        
            <li><a class="item-2" href="http://andaluciainformacion.es/jaen/363659/empleadas-de-guarderias-municipales-inician-manana-una-huelga-indefinida-concentrandose-ante-el-ayuntamiento">Empleadas de guarderías municipales inician mañana una huelga indefinida concentrándose ante el Ayuntamiento</a></li>
        
            <li><a class="item-3" href="http://andaluciainformacion.es/jaen/363863/mas-de-cien-euros-por-la-clausula-suelo">Más de cien euros por la cláusula suelo</a></li>
        
            <li><a class="item-4" href="http://andaluciainformacion.es/jaen/364083/a-lo-forrest-gump-">A lo Forrest Gump </a></li>
        
            <li><a class="item-5" href="http://andaluciainformacion.es/jaen/224744/iu-pide-que-el-pleno-censure-a-varela-por-las-cartas-de-la-piscina">IU pide que el pleno  censure a Varela ?por las cartas de la piscina?</a></li>
        
            <li><a class="item-6" href="http://andaluciainformacion.es/jaen/364314/iu-asegura-que-es-necesario-que-ayuntamiento-preste-el-servicio-a-la-dependencia-y-que-la-junta-pague-su-deuda">IU asegura que &quot;es necesario&quot; que Ayuntamiento preste el servicio a la dependencia y que la Junta pague su deuda</a></li>
        
            <li><a class="item-7" href="http://andaluciainformacion.es/jaen/363858/un-21-por-ciento-de-los-hogares-solo-cuenta-con-un-inquilino">Un 21 por ciento de los hogares solo cuenta con un inquilino</a></li>
        
            <li><a class="item-8" href="http://andaluciainformacion.es/jaen/315364/objetivo-cumplido-marcar">Objetivo cumplido: marcar</a></li>
        
            <li><a class="item-9" href="http://andaluciainformacion.es/jaen/364407/el-alumbrado-navideno-trae-el-ambiente-festivo-a-la-capital">El alumbrado navideño trae el ambiente festivo a la capital</a></li>
        
            <li><a class="item-10" href="http://andaluciainformacion.es/jaen/364434/la-iluminacion-de-navidad">La iluminación de Navidad</a></li>
                </ol>
    </div>
    
    <div id="tab3" class="tabs-ds tabhide">
        <ol class="lista-enum">
        
            <li><a class="item-1" href="http://andaluciainformacion.es/jaen/363863/mas-de-cien-euros-por-la-clausula-suelo">Más de cien euros por la cláusula suelo</a></li>
        
            <li><a class="item-2" href="http://andaluciainformacion.es/jaen/301579/zarpazo-hacia-el-play-off">Zarpazo hacia el ‘play off’</a></li>
        
            <li><a class="item-3" href="http://andaluciainformacion.es/jaen/364083/a-lo-forrest-gump-">A lo Forrest Gump </a></li>
        
            <li><a class="item-4" href="http://andaluciainformacion.es/jaen/364036/hallan-muertos-dos-linces-atropellados-en-carreteras-de-jaen-y-cordoba">Hallan muertos dos linces atropellados en carreteras de Jaén y Córdoba</a></li>
        
            <li><a class="item-5" href="http://andaluciainformacion.es/jaen/363858/un-21-por-ciento-de-los-hogares-solo-cuenta-con-un-inquilino">Un 21 por ciento de los hogares solo cuenta con un inquilino</a></li>
        
            <li><a class="item-6" href="http://andaluciainformacion.es/jaen/364140/hosteleros-preven-un-55-de-ocupacion-por-comidas-y-cenas-de-navidad-en-la-proxima-semana-la-mas-fuerte">Hosteleros prevén un 55% de ocupación por comidas y cenas de Navidad en la próxima semana, la &quot;más fuerte&quot;</a></li>
        
            <li><a class="item-7" href="http://andaluciainformacion.es/jaen/364406/feduca-abre-hoy-para-colegios-y-el-dia-25-para-todo-el-publico">Feduca abre hoy para colegios y el día 25 para todo el público</a></li>
        
            <li><a class="item-8" href="http://andaluciainformacion.es/jaen/364444/otro-gallito-que-cae">Otro ‘gallito’ que cae</a></li>
        
            <li><a class="item-9" href="http://andaluciainformacion.es/jaen/335466/la-nueva-etapa-de-la-junta">La nueva etapa de la Junta</a></li>
        
            <li><a class="item-10" href="http://andaluciainformacion.es/jaen/224744/iu-pide-que-el-pleno-censure-a-varela-por-las-cartas-de-la-piscina">IU pide que el pleno  censure a Varela ?por las cartas de la piscina?</a></li>
                </ol>
    </div>
</div>
<!-- Separador --><div class="sep"></div><!-- //Separador -->

</article>          



<!-- INICIO ID 191 --><div class=ba-col-derecha><script type="text/javascript" src="http://a.ligatus.com/?ids=35282&t=js"></script></div><!-- FIN ID 191 --><!-- separador --><div class='sep' style='float:left'></div>

<div class="grid_4 alpha">
<!-- Twitter social -->
<a class="twitter-timeline" href="https://twitter.com/VivaJaen" data-widget-id="356743233604308992">Tweets por @VivaJaen</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
<!-- Separador --><div class="sep" style="margin-top:16px"></div><!-- //Separador -->

<!-- Facebook social -->
<iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/vivajaenfb&width=300&colorscheme=light&connections=30&stream=false&header=false&height=256" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:256px; margin-bottom:16px" ></iframe>

</div>
<!---------- //COLUMNA - DERECHA ------>

</div>
<!---------- COLUMNA - CENTRO + DERECHA -------->


</div>
<!------ //ZONA ARTICULO -------------->

<a name="newsletter"></a>
<script>
<!-- 

  function chequear_newsletter(){
    var fallo=false;
    var alerta="";
    
    if ($("#edicion_id").val()==0 ){alerta="Seleccione una edición"; fallo=true;}
    if ($("#form-newsletter").val().length==0 ){alerta="Introduzca una dirección correcta"; fallo=true;}
    
    if (fallo){alert(alerta); return false; }
    if (!fallo){enviar_formulario_newsletter();} 
  }
  
  function enviar_formulario_newsletter(){
    $.ajax({  
      type: "POST",  
      url: "http://andaluciainformacion.es/web/modulos/newsletter_enviar.php",  
      data: $("#newsletter-form-tag").serialize(),  
      success: function (data){
        $("#form-newsletter").val("");
        if (data=="OK"){ 
          $('#newsletter_form').hide();
          $('#newsletter_ok').show();
        } else if (data=="KO"){ 
          $('#newsletter_form').hide();
          $('#newsletter_ko').show();
        } else if (data=="KO EMAIL"){
          $('#newsletter_form').hide();
          $('#newsletter_ko_email').show();
        } else {
          alert(data);          
        }
        } 
    });
  }

-->
</script>
<ul id="newsletter_form" class="newsletters-bloque">
<form id="newsletter-form-tag" name="newsletter-form-tag" onsubmit="return false">
  <li><span style="background-image:url(http://andaluciainformacion.es/web/img/decoracion/ico-newsletter-2.png); background-repeat:no-repeat; background-position:bottom left; padding-left:40px;">INSCRÍBASE EN NUESTRO BOLETÍN<br />DIARIO DE NOTICIAS</span></li>
  <li><span>1º RELLENE SU<BR />DIRECCIÓN DE EMAIL</span></li>
  <li>
    <input name="form-newsletter" id="form-newsletter" type="text" autocomplete="off" placeholder="Su email..." />
  </li>
  <li><span>2º SELECCIONE UNA<BR />EDICIÓN PARA RECIBIR</span></li>
  <li>
    <select name="edicion_id" id="edicion_id" autocomplete="off" style="width:152px;">
            <option value=0>Seleccione una edición</option>
            <option disabled="disabled"></option>
    
            <option value="portada-1">Andalucía</option>
            <option value="portada-3">España</option>
            <option value="portada-2">Mundo</option>
            <option value="portada-11">Economía</option>
            <option value="portada-13">Sociedad</option>
            <option value="portada-12">Cultura & Ocio</option>
            <option value="portada-9">Deportes</option>
            
            <option disabled="disabled"></option>
            <optgroup title="Almería" label="Almería">
    
                
                <option value="portada-121">Almería</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Cádiz" label="Cádiz">
    
                
                <option value="portada-15">Arcos</option>
                
                <option value="portada-45">Barbate</option>
                
                <option value="portada-97">Cádiz</option>
                
                <option value="portada-17">Campo de Gibraltar</option>
                
                <option value="portada-43">Chiclana</option>
                
                <option value="portada-179">Conil</option>
                
                <option value="portada-99">El Puerto</option>
                
                <option value="portada-18">Jerez</option>
                
                <option value="portada-180">Medina</option>
                
                <option value="portada-42">Rota</option>
                
                <option value="portada-98">San Fernando</option>
                
                <option value="portada-19">Sanlúcar</option>
                
                <option value="portada-181">Vejer</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Córdoba" label="Córdoba">
    
                
                <option value="portada-122">Córdoba</option>
                
                <option value="portada-154">Puente Genil</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Granada" label="Granada">
    
                
                <option value="portada-87">Baza</option>
                
                <option value="portada-120">Granada</option>
                
                <option value="portada-155">Guadix</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Huelva" label="Huelva">
    
                
                <option value="portada-152">Costa Occidental</option>
                
                <option value="portada-159">Cuenca Minera</option>
                
                <option value="portada-36">Huelva</option>
                
                <option value="portada-85">Punta Umbría</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Jaén" label="Jaén">
    
                
                <option value="portada-58">Alcalá la Real</option>
                
                <option value="portada-35">Jaén</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Málaga" label="Málaga">
    
                
                <option value="portada-123">Antequera</option>
                
                <option value="portada-153">Estepona</option>
                
                <option value="portada-119">Málaga</option>
                
                <option value="portada-156">Marbella</option>
                
                <option value="portada-103">Ronda</option>
                
                <option value="portada-49">Torremolinos</option>
                    
            <option disabled="disabled"></option>
            <optgroup title="Sevilla" label="Sevilla">
    
                
                <option value="portada-77">Écija</option>
                
                <option value="portada-118">Sevilla</option>
                        </optgroup>
            
                <option disabled="disabled"></option>
            <optgroup title="Otras ediciones" label="Otras ediciones">
                <option value="http://andaluciainformacion.es/m/?u=diputacion-al-dia">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diputación de Cádiz al día</option>
                <option value="http://andaluciainformacion.es/m/?u=cadiz-cultura">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cádiz todo el año</option>
                </optgroup>
                <option disabled="disabled"></option>
            <optgroup title="Televisiones" label="Televisiones">
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-cadiz">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Cádiz</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-jaen">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Jaén</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-jerez">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Jerez</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-la-isla">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz La Isla</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-sierra">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Sierra</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-costa-noroeste">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Costa Noroeste</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-ronda">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Ronda</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-estepona">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Estepona</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-malaga">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Málaga</option>
                <option value="http://andaluciainformacion.es/m/?u=ondaluz-marbella">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ondaluz Marbella</option>
                </optgroup>
                    <!--
      -->
    </select>
    </li>
  <li style="background:none;"><a href="#" style="background-image:url(http://andaluciainformacion.es/web/img/decoracion/signin-ico.png);" onclick="chequear_newsletter(); return false;"><span>INSCRÍBASE<BR />PULSANDO AQUÍ</span></a></li>
</form>
</ul>
<ul id="newsletter_ok" class="newsletters-bloque" style="display:none">
  <li><span style="background-image:url(http://andaluciainformacion.es/web/img/decoracion/ico-newsletter.png); background-repeat:no-repeat; background-position:bottom left; padding-left:40px;">INSCRÍBASE EN NUESTRO BOLETÍN<br />DIARIO DE NOTICIAS</span></li>
  <li style="background:none;"><span>GRACIAS POR INSCRIBIRSE EN EL BOLETÍN DE NOTICIAS DE ANDALUCIA INFORMACIÓN<br />LE HEMOS ENVIADO UN EMAIL CON UN ENLACE PARA QUE PULSANDO EN ÉL CONFIRME SU DIRECCIÓN DE EMAIL</span></li>
</ul>
<ul id="newsletter_ko" class="newsletters-bloque" style="display:none">
  <li><span style="background-image:url(http://andaluciainformacion.es/web/img/decoracion/ico-newsletter.png); background-repeat:no-repeat; background-position:bottom left; padding-left:40px;">INSCRÍBASE EN NUESTRO BOLETÍN<br />DIARIO DE NOTICIAS</span></li>
  <li style="background:none;"><span>HA HABIDO ALGÚN PROBLEMA CON LA INSCRIPCIÓN<br />POR FAVOR, VUELVA A INTENTARLO EN UN MOMENTO</span></li>
</ul>
<ul id="newsletter_ko_email" class="newsletters-bloque" style="display:none">
  <li><span style="background-image:url(http://andaluciainformacion.es/web/img/decoracion/ico-newsletter.png); background-repeat:no-repeat; background-position:bottom left; padding-left:40px;">INSCRÍBASE EN NUESTRO BOLETÍN<br />DIARIO DE NOTICIAS</span></li>
  <li style="background:none;"><span>EL EMAIL QUE HA INTRODUCIDO NO ES VÁLIDO<br />POR FAVOR, VUELVA A INTENTARLO</span></li>
</ul>
   
</div>
</div>
</div>
<!-- CODIGO HOTWORDS -->
<script src='http://ads44841.hotwords.es/show.jsp?id=44841&cor=FF0000&tag=div&atr=class&vatr=texto-articulo'></script>

  
<!-- CODIGO INREAD -->
<script type="text/javascript">
  var _ttf = _ttf || [];
  _ttf.push({
    pid: 20103
    ,lang: 'es'
    ,slot: 'div.texto-articulo > p'
    ,format: 'inread'
  });
  (function(d){
    var js, s = d.getElementsByTagName('script')[0];
    js = d.createElement('script'); js.async = true;
    js.src = "//cdn.teads.tv/js/all-v1.js";
    s.parentNode.insertBefore(js, s);
  })(window.document);
</script>



<!-- //CENTRO -->
<!-- PIE -->
<div class="wrap-pie">
<div class="pie">
  
<div class="logo-pie"></div>

<div class="copyright">2013 &copy; Andaluc&iacute;a Informaci&oacute;n - Grupo Publicaciones del Sur S.A.</div>

<nav class="navegacion-pricipal" style="width:100%;">
  <ul>
      <li><a href="http://andaluciainformacion.es/">P&aacute;gina de inicio</a></li>
      <li><a href="http://andaluciainformacion.es/web/hemeroteca/?id_categoria=35" class="fancybox">Hemeroteca</a></li>
      <li><a href="http://andaluciainformacion.es/web/?c=3">Qui&eacute;nes somos</a></li>
      <li><a href="http://andaluciainformacion.es/web/?c=2">Contacto</a></li>
      <li><a href="http://andaluciainformacion.es/web/?c=5">Publicidad</a></li>
      <li><a href="http://andaluciainformacion.es/web/?c=4">Aviso Legal</a></li>
      <li><a href="http://andaluciainformacion.es/web/?c=7">Pol. Cookies</a></li>
      <li><a href="http://andaluciainformacion.es/web/?c=6">Preguntas frecuentes</a></li>
      <li><a href="#" onclick="$('#newsletter_form').ScrollTo();">Newsletter</a></li>
</ul>
</nav>    
<ul class="links-pie">
  <li class="li-titulo">Periódicos Viva:</li>
  <li><a href="http://andaluciainformacion.es/almeria/">Viva Almería</a></li>
  <li><a href="http://andaluciainformacion.es/cadiz/">Viva Cádiz</a></li>
  <li><a href="http://andaluciainformacion.es/chiclana/">Viva Chiclana</a></li>
  <li><a href="http://andaluciainformacion.es/campo-de-gibraltar/">Viva Campo de Gibraltar</a></li>
  <li><a href="http://andaluciainformacion.es/el-puerto/">Viva El Puerto</a></li>
  <li><a href="http://andaluciainformacion.es/jerez/">Viva Jerez</a></li>
  <li><a href="http://andaluciainformacion.es/cordoba/">Viva Córdoba</a></li>
  <li><a href="http://andaluciainformacion.es/conil/">Viva Conil</a></li>
  <li><a href="http://andaluciainformacion.es/granada/">Viva Granada</a></li>
  <li><a href="http://andaluciainformacion.es/costa-occidental/">Viva La Costa</a></li>
</ul>
<ul class="links-pie">
  <li class="li-titulo">&nbsp;</li>
  <li><a href="http://andaluciainformacion.es/huelva/">Viva Huelva</a></li>
  <li><a href="http://andaluciainformacion.es/punta-umbria/">Viva Punta</a></li>
  <li><a href="http://andaluciainformacion.es/jaen/">Viva Jaén</a></li>
  <li><a href="http://andaluciainformacion.es/antequera/">Viva Centro de Andalucía</a></li>
  <li><a href="http://andaluciainformacion.es/malaga/">Viva Málaga</a></li>
  <li><a href="http://andaluciainformacion.es/marbella/">Viva Marbella</a></li>
  <li><a href="http://andaluciainformacion.es/medina/">Viva Medina</a></li>
  <li><a href="http://andaluciainformacion.es/ecija/">Viva El periódico de Écija</a></li>
  <li><a href="http://andaluciainformacion.es/sevilla/">Viva Sevilla</a></li>
  <li><a href="http://andaluciainformacion.es/vejer/">Viva Vejer</a></li>
  <li><a href="http://andaluciainformacion.es/cuenca-minera/">Viva La Cuenca Minera</a></li>
</ul>
<ul class="links-pie">
  <li class="li-titulo">Periódicos Información:</li>
  <li><a href="http://andaluciainformacion.es/arcos/">Información Arcos</a></li>
  <li><a href="http://andaluciainformacion.es/cadiz/">Información Bahía</a></li>
  <li><a href="http://andaluciainformacion.es/san-fernando/">Información San Fernando</a></li>
  <li><a href="http://andaluciainformacion.es/campo-de-gibraltar/">Información El Faro</a></li>
  <li><a href="http://andaluciainformacion.es/jerez/">Información Jerez</a></li>
  <li><a href="http://andaluciainformacion.es/rota/">Información Rota</a></li>
  <li><a href="http://andaluciainformacion.es/sanlucar/">Información Sanlúcar</a></li>
  <li><a href="http://andaluciainformacion.es/puente-genil/">Información Puente Genil</a></li>
  <li><a href="http://andaluciainformacion.es/baza/">Información Comarca de Baza</a></li>
  <li><a href="http://andaluciainformacion.es/guadix/">Información Wadi-as</a></li>
  <li><a href="http://andaluciainformacion.es/alcala-la-real/">Información Alcalá la Real</a></li>
  <li><a href="http://andaluciainformacion.es/estepona/">Información Estepona</a></li>
  <li><a href="http://andaluciainformacion.es/torremolinos/">Información Torremolinos</a></li>
  <li><a href="http://andaluciainformacion.es/ronda/">Ronda Semanal</a></li>
</ul>
<ul class="links-pie"> 
  <li class="li-titulo">Televisiones:</li>
    <li><a href="http://andaluciainformacion.es/ondaluz-cadiz/">Ondaluz Cádiz</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-jaen/">Ondaluz Jaén</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-jerez/">Ondaluz Jerez</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-la-isla/">Ondaluz La Isla</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-sierra">Ondaluz Sierra</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-costa-noroeste/">Ondaluz Costa Noroeste</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-ronda/">Ondaluz Ronda</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-estepona/">Ondaluz Estepona</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-malaga/">Ondaluz Málaga</a></li>
    <li><a href="http://andaluciainformacion.es/ondaluz-marbella/">Ondaluz Marbella</a></li>
</ul>
<ul class="links-pie">
  <li class="li-titulo">Otros digitales:</li>
  <li><a href="http://andaluciainformacion.es/fitur-2013/">Fitur 2013</a></li>
    <li><a href="http://andaluciainformacion.es/world-travel-market/">World Travel Market</a></li>
    <li><a href="http://andaluciainformacion.es/25-aniversario/">25 aniversario</a></li>
  <li><a href="http://andaluciainformacion.es/el-gallinero/">El Gallinero</a></li>
  <li><a href="http://andaluciainformacion.es/el-carnaval-colombino/">El Carnaval Colombino</a></li>
    <li><a href="http://andaluciainformacion.es/cadiz-cofrade/">Cádiz Cofrade</a></li>
  <li><a href="http://andaluciainformacion.es/jaen-cofrade/">Jaén Cofrade</a></li>
  <li><a href="http://andaluciainformacion.es/huelva-cofrade/">Huelva Cofrade</a></li>
  <li><a href="http://andaluciainformacion.es/jerez-cofrade/">Jerez Cofrade</a></li>
    <li><a href="http://andaluciainformacion.es/cofrades/">Sevilla Cofrade</a></li>
  <li><a href="http://andaluciainformacion.es/diputacion-al-dia/">Diputación de Cádiz al día</a></li>
  <li><a href="http://andaluciainformacion.es/cadiz-cultura/">Cádiz todo el año</a></li>
  <li><a href="http://finanzas.andaluciainformacion.es/">Comparador Financiero</a></li>
  <li><a href="http://comparadorenergia.andaluciainformacion.es/">Comparador de Energía</a></li>
  <li><a href="http://compras.andaluciainformacion.es/">Canal de compras</a></li>
</ul>
</div>
</div>
<!-- //PIE -->
</div>


<!-- START Nielsen Online SiteCensus V6.0 -->

<!-- COPYRIGHT 2009 Nielsen Online -->

  <script type="text/javascript" src="//secure-uk.imrworldwide.com/v60.js">
    
    </script>
    
    <script type="text/javascript">
    
     var pvar = { cid: "es-publicacionessur", content: "0", server: "secure-uk" };
    
     var trac = nol_t(pvar);
    
     trac.record().post();
    
    </script>
    
    <noscript>
    
     <div>
    
     <img src="//secure-uk.imrworldwide.com/cgi-bin/m?ci=es-publicacionessur&amp;cg=0&amp;cc=1&amp;ts=noscript" width="1" height="1" alt="" />
    
     </div>
    
    </noscript>
    
<!-- END Nielsen Online SiteCensus V6.0 -->

</body>
</html>
